.navigation-buttons-container {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  border: 3px solid var(--color-goldenrod);
  box-sizing: border-box;
  width: 15.3px;
  height: 14px;
}
.navigation-buttons-container1,
.navigation-buttons-container2,
.navigation-buttons-container3 {
  position: absolute;
  top: 26px;
  left: 18.7px;
  border-radius: var(--br-11xs);
  border: 3px solid var(--color-goldenrod);
  box-sizing: border-box;
  width: 15.3px;
  height: 10px;
}
.navigation-buttons-container2,
.navigation-buttons-container3 {
  top: 0;
  height: 22px;
}
.navigation-buttons-container3 {
  margin: 0;
  top: 18px;
  left: 0;
  height: 18px;
}
.navigation-buttons {
  width: 34px;
  height: 36px;
  position: relative;
}
.navigation-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.bpi3,
.housing-loan4 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.bpi3 {
  height: 54px;
  width: 84px;
  min-width: 84px;
}
.housing-loan4 {
  min-width: 120px;
}
.housing-loan-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.administrator-page1 {
  margin-top: -3px;
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.administrator-page-container {
  align-self: stretch;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.page-content,
.page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-content {
  align-self: stretch;
}
.page-content-wrapper {
  flex: 1;
  padding: var(--padding-4xs) 0 0;
  text-align: left;
  font-size: var(--font-size-xl);
}
.admin-page-content,
.admin-page-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.admin-page-content {
  width: 270px;
  justify-content: flex-start;
  gap: var(--gap-12xs-5);
}
.admin-page-content-wrapper {
  width: 482px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-31xl);
}
.application-form3,
.housing-loan5 {
  position: relative;
  letter-spacing: -0.02em;
  display: none;
}
.housing-loan5 {
  width: 120px;
  height: 0;
  font-size: var(--font-size-xl);
  font-weight: 900;
}
.application-form3 {
  width: 151px;
  font-size: var(--font-size-base);
  height: 23px;
  flex-shrink: 0;
}
.label199 {
  flex: 1;
  position: relative;
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.field181 {
  width: 600px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mini);
  min-height: 46px;
  max-width: 100%;
  color: var(--color-gray-100);
}
.search {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 56px);
  letter-spacing: 0.05em;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 23px;
}
.primary-button5 {
  width: 108px;
  height: 46px;
  position: relative;
  border-radius: var(--br-5xs);
  background: linear-gradient(-88.81deg, #ec696d, #a32c30 33%, #3d1112);
  display: none;
  text-align: center;
  color: var(--color-white);
}
.frame-child5 {
  align-self: stretch;
  height: 903px;
  position: relative;
  background: linear-gradient(180deg, #410c0e, #a72025);
  display: none;
}
.mask-group-icon11 {
  height: 20px;
  width: 20px;
  position: relative;
  object-fit: contain;
}
.members-information3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.info-and-requests,
.loan-requests-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.loan-requests-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.info-and-requests {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-lg) var(--padding-base)
    var(--padding-21xl);
  background-color: var(--color-gray-400);
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-xs);
  z-index: 1;
}
.mask-group-icon12 {
  height: 20px;
  width: 16px;
  position: relative;
  object-fit: contain;
  min-height: 20px;
}
.loan-requests1 {
  flex: 1;
  position: relative;
}
.info-and-requests1,
.rectangle-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-and-requests1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-lg) var(--padding-mini)
    var(--padding-24xl);
  gap: var(--gap-smi);
  cursor: pointer;
  z-index: 1;
}
.rectangle-parent4 {
  height: 903px;
  width: 270px;
  background: linear-gradient(180deg, #410c0e, #a72025);
  flex-direction: column;
  padding: var(--padding-33xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.deposit-account1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 51px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}
.side-nav-items {
  width: 547px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}
.home3 {
  width: 68px;
  position: relative;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.deposit-account2 {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.home-and-deposit-links {
  width: 225px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.field182,
.label200 {
  flex: 1;
  max-width: 100%;
}
.label200 {
  width: 100%;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-roboto);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 23px;
  position: relative;
  line-height: 150%;
  font-weight: 700;
  color: var(--color-gray-100);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 250px;
  padding: 0;
}
.field182 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  z-index: 2;
}
.search1 {
  margin-left: -2px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.05em;
  line-height: 23px;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  flex-shrink: 0;
}
.primary-button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 0 var(--padding-6xs);
  background-color: transparent;
  width: 108px;
  border-radius: var(--br-5xs);
  background: linear-gradient(-88.81deg, #ec696d, #a32c30 33%, #3d1112);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 3;
}
.field-parent3 {
  align-self: stretch;
  flex-direction: row;
}
.field-parent3,
.home-navigation-items,
.home-navigation-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.home-navigation-links {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xl);
}
.home-navigation-items {
  width: 732px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.cell {
  position: relative;
  display: inline-block;
  min-width: 126px;
}
.cell-wrapper {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--color-white);
}
.cell1 {
  position: relative;
  display: inline-block;
  min-width: 74px;
}
.cell-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.cell2 {
  position: relative;
  display: inline-block;
  min-width: 74px;
}
.cell-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.cell3 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.cell-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
}
.cell4 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.cell5 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.cell-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.account-number3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell6 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 89px;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-6xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell-wrapper15:hover,
.cell-wrapper9:hover,
.frame-button:hover {
  background-color: var(--color-indianred-100);
}
.cell7 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell8 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell9 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell10 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell11 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.borrower-id {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell12 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
}
.cell-wrapper9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-brown-100);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell13 {
  position: relative;
}
.cell-wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.cell14 {
  position: relative;
}
.cell-wrapper11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-19xl);
}
.cell15 {
  position: relative;
}
.cell-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.cell16 {
  position: relative;
}
.cell-wrapper13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-24xl);
}
.cell17 {
  position: relative;
}
.cell-wrapper14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-19xl);
}
.bank-and-branch-address {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 305px;
  max-width: 100%;
}
.cell18 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 103px;
}
.cell-wrapper15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell19 {
  position: relative;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-29xl);
}
.cell20 {
  position: relative;
  display: inline-block;
  min-width: 93px;
}
.cell-wrapper17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-10xl);
}
.cell21 {
  position: relative;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-29xl);
}
.cell22 {
  position: relative;
  display: inline-block;
  min-width: 66px;
}
.cell-wrapper19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.cell23 {
  position: relative;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper20 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-29xl);
}
.account-type3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-navigation-content,
.table {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.table {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  row-gap: 20px;
}
.home-navigation-content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xl);
}
.edit-icon,
.edit-icon1,
.edit-icon2 {
  width: 30px;
  height: 30px;
  position: relative;
  object-fit: contain;
}
.edit-buttons,
.edit-buttons1 {
  margin: 0;
  width: 32px;
  height: 30px;
}
.edit-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.delete-icon,
.delete-icon1,
.delete-icon2,
.delete-icon3 {
  width: 25px;
  height: 25px;
  position: relative;
  object-fit: contain;
}
.delete-icon3 {
  object-fit: cover;
}
.delete-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.delete-icon4 {
  height: 25px;
  width: 25px;
  position: relative;
  object-fit: cover;
}
.delete-buttons-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.delete-actions,
.delete-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.delete-buttons {
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.delete-actions {
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.table-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.table-actions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
}
.home-navigation-content-parent,
.side-navigation-content {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.home-navigation-content-parent {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1px;
  font-size: var(--font-size-mini);
  color: var(--color-brown-200);
  font-family: var(--font-raleway);
}
.side-navigation-content {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.body-content,
.side-navigation-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  font-family: var(--font-roboto);
}
.side-navigation-content-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-33xl) 0 0;
  max-width: calc(100% - 323px);
  font-size: var(--font-size-31xl);
  color: var(--color-brown-100);
}
.body-content {
  width: 1362px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: 53px;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.all-rights-reserved3,
.made-by-students3 {
  margin: 0;
}
.all-rights-reserved-container3 {
  position: relative;
  font-weight: 300;
}
.footer-decoration {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.admin-deposit-account,
.body-content-parent,
.footer3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer3 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-73xl);
  position: relative;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-brown-100);
  font-family: var(--body-body-14);
}
.admin-deposit-account,
.body-content-parent {
  flex-direction: column;
}
.body-content-parent {
  align-self: stretch;
  max-width: 100%;
}
.admin-deposit-account {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
  gap: var(--gap-lgi);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-brown-100);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 800px) {
  .bpi3 {
    font-size: var(--font-size-21xl);
  }
  .home-and-deposit-links,
  .rectangle-parent4 {
    display: none;
  }
  .table {
    flex-wrap: wrap;
  }
  .side-navigation-content-wrapper {
    max-width: 100%;
  }
  .body-content {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .cell-wrapper10,
  .cell-wrapper12,
  .cell-wrapper13 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .home-navigation-content {
    min-width: 100%;
  }
  .body-content {
    gap: var(--gap-7xl);
  }
  .footer3 {
    padding-left: var(--padding-27xl);
    padding-right: var(--padding-27xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .bpi3 {
    font-size: var(--font-size-11xl);
  }
  .housing-loan4,
  .housing-loan5 {
    font-size: var(--font-size-base);
  }
  .info-and-requests1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .field-parent3 {
    display: none;
  }
  .side-navigation-content-wrapper {
    padding-top: var(--padding-15xl);
    box-sizing: border-box;
  }
  .footer3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
