.cell637 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper634 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xs);
  color: var(--color-white);
}
.cell638 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper635 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-20xl);
}
.cell639 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper636 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-19xl);
}
.cell640 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper637 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-19xl);
}
.borrower-id10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell641 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 81px;
}
.cell-wrapper638 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-7xl);
  color: var(--color-white);
}
.cell642 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.cell-wrapper639 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-sm);
}
.cell643 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 85px;
}
.cell-wrapper640 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xl);
}
.cell644 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper641 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
}
.borr-name1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell645 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 71px;
}
.cell-wrapper642 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  color: var(--color-white);
}
.cell646 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 82px;
}
.cell-wrapper643 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
}
.cell647 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 84px;
}
.cell-wrapper644 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell648 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 86px;
}
.cell-wrapper645 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xs);
}
.borr-dob1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell649 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 67px;
}
.cell-wrapper646 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-7xs);
  color: var(--color-white);
}
.cell650 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 17px;
}
.cell-wrapper647 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.cell651 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 16px;
}
.cell-wrapper648 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.cell652 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 17px;
}
.cell-wrapper649 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.borr-age1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell653 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 92px;
}
.cell-wrapper650 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xs);
  color: var(--color-white);
}
.cell654 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper651 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
}
.cell655 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.cell-wrapper652 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xl);
}
.cell656 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper653 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
}
.borr-gender1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell657 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 120px;
}
.cell-wrapper654 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--color-white);
}
.cell658 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 128px;
}
.cell-wrapper655 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
}
.cell659 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 126px;
}
.cell-wrapper656 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mid);
}
.cell660 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 126px;
}
.cell-wrapper657 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mid);
}
.borr-birth-place1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell661 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 117px;
}
.cell-wrapper658 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
  color: var(--color-white);
}
.cell662 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper659 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.cell663 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper660 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.cell664 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper661 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.borr-nationality1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell665 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 117px;
}
.cell-wrapper662 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
  color: var(--color-white);
}
.cell666 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper663 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.cell667 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper664 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.cell668 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper665 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.borr-citizenship1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell669 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper666 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
  color: var(--color-white);
}
.cell670 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper667 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-41xl);
}
.cell671 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper668 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-41xl);
}
.cell672 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper669 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-41xl);
}
.borr-marital-status1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell673 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 90px;
}
.cell-wrapper670 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
  color: var(--color-white);
}
.cell674 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper671 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.cell675 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper672 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.cell676 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper673 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.borr-mother1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell677 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper674 {
  align-self: stretch;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--color-white);
}
.cell678 {
  position: relative;
}
.cell-wrapper675 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-14xl);
}
.cell679 {
  position: relative;
}
.cell-wrapper676 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xl);
}
.cell680 {
  position: relative;
}
.cell-wrapper677 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.borr-present-address1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 226px;
  max-width: 100%;
}
.cell681 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 113px;
}
.cell-wrapper678 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  color: var(--color-white);
}
.cell682 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper679 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-29xl);
}
.cell683 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper680 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-30xl);
}
.cell684 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 36px;
}
.cell-wrapper681 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-29xl);
}
.borr-residency1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.cell685 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper682 {
  align-self: stretch;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--color-white);
}
.cell686 {
  position: relative;
}
.cell-wrapper683 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell687 {
  position: relative;
}
.cell-wrapper684 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.cell688 {
  position: relative;
}
.cell-wrapper685 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xl);
}
.borr-permanent-address1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 226px;
  max-width: 100%;
  z-index: 2;
}
.cell689 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper686 {
  align-self: stretch;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--color-white);
}
.cell690 {
  position: relative;
}
.cell-wrapper687 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell691 {
  position: relative;
}
.cell-wrapper688 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.cell692 {
  position: relative;
}
.cell-wrapper689 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xl);
}
.borr-previous-address1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 226px;
  max-width: 100%;
  z-index: 3;
}
.cell693 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper690 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xs);
  color: var(--color-white);
}
.cell694 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 51px;
}
.cell-wrapper691 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-47xl);
}
.cell695 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 51px;
}
.cell-wrapper692 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-47xl);
}
.cell696 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 51px;
}
.cell-wrapper693 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-47xl);
}
.borr-home-ownership1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 4;
}
.cell697 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper694 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl);
  color: var(--color-white);
}
.cell698 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 30px;
}
.cell-wrapper695 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.cell699 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 30px;
}
.cell-wrapper696 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.cell700 {
  position: relative;
  display: inline-block;
  min-width: 30px;
}
.cell-wrapper697 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.borr-rent-amount1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}
.cell701 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 100px;
}
.cell-wrapper698 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xl);
  color: var(--color-white);
}
.cell702 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper699 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-47xl);
}
.cell703 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 7px;
}
.cell-wrapper700 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-48xl);
}
.cell704 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper701 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-47xl);
}
.borr-children1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 6;
}
.cell705 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper702 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  color: var(--color-white);
}
.cell706 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 53px;
}
.cell-wrapper703 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell707 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper704 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.cell708 {
  position: relative;
  display: inline-block;
  min-width: 30px;
}
.cell-wrapper705 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-46xl);
}
.borr-children-ages1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 7;
}
.cell709 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 127px;
}
.cell-wrapper706 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mid);
  color: var(--color-white);
}
.cell710 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper707 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.cell711 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 7px;
}
.cell-wrapper708 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-58xl);
}
.cell712 {
  position: relative;
  display: inline-block;
  min-width: 30px;
}
.cell-wrapper709 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-46xl);
}
.borr-dependents1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 8;
}
.cell713 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 87px;
}
.cell-wrapper710 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
  color: var(--color-white);
}
.cell714 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 86px;
}
.cell-wrapper711 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
}
.cell715 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 87px;
}
.cell-wrapper712 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
}
.cell716 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 84px;
}
.cell-wrapper713 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-19xl);
}
.borr-sssno1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 9;
}
.cell717 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 64px;
}
.cell-wrapper714 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-29xl);
  color: var(--color-white);
}
.cell718 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 120px;
}
.cell-wrapper715 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell719 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 121px;
}
.cell-wrapper716 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell720 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 118px;
}
.cell-wrapper717 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xl);
}
.borr-tin1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
}
.cell721 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper718 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
  color: var(--color-white);
}
.cell722 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 81px;
}
.cell-wrapper719 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.cell723 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 84px;
}
.cell-wrapper720 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell724 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper721 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.borr-residencephone1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 11;
}
.cell725 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 104px;
}
.cell-wrapper722 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xl);
  color: var(--color-white);
}
.cell726 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper723 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xl);
}
.cell727 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 96px;
}
.cell-wrapper724 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-7xl);
}
.cell728 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper725 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xl);
}
.borr-phoneno1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 12;
}
.cell729 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper726 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-sm);
  color: var(--color-white);
}
.cell730 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 53px;
}
.cell-wrapper727 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-44xl);
}
.cell731 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 53px;
}
.cell-wrapper728 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-44xl);
}
.cell732 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 53px;
}
.cell-wrapper729 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-44xl);
}
.borr-mailingaddress1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 13;
}
.cell733 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 79px;
}
.cell-wrapper730 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
  color: var(--color-white);
}
.cell734 {
  text-decoration: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
}
.cell-wrapper731 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xs);
}
.cell735 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cell-wrapper732 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xs);
}
.cell736 {
  text-decoration: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
}
.cell-wrapper733 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
}
.borr-email1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 14;
}
.cell737 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 104px;
}
.cell-wrapper734 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
  color: var(--color-white);
}
.cell738 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 110px;
}
.cell-wrapper735 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-15xl);
}
.cell739 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 80px;
}
.cell-wrapper736 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-30xl);
}
.cell740 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper737 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.spouse-name1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 15;
}
.cell741 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 59px;
}
.cell-wrapper738 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-11xl);
  color: var(--color-white);
}
.cell742 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 84px;
}
.cell-wrapper739 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mid);
}
.cell743 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 86px;
}
.cell-wrapper740 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
}
.cell744 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 86px;
}
.cell-wrapper741 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
}
.sp-dob1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 16;
}
.cell745 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 55px;
}
.cell-wrapper742 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
  color: var(--color-white);
}
.cell746 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 17px;
}
.cell-wrapper743 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.cell747 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 17px;
}
.cell-wrapper744 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.cell748 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 17px;
}
.cell-wrapper745 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.sp-age1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 17;
}
.cell749 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 108px;
}
.cell-wrapper746 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
  color: var(--color-white);
}
.cell750 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 128px;
}
.cell-wrapper747 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
}
.cell751 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 128px;
}
.cell-wrapper748 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
}
.cell752 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 128px;
}
.cell-wrapper749 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
}
.sp-birth-place1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 18;
}
.cell753 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.cell-wrapper750 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
  color: var(--color-white);
}
.cell754 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper751 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.cell755 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper752 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.cell756 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper753 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-23xl);
}
.sp-nationality1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 19;
}
.cell757 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.cell-wrapper754 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
  color: var(--color-white);
}
.cell758 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper755 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell759 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper756 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell760 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.cell-wrapper757 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.sp-citizenship1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 20;
}
.cell761 {
  text-decoration: none;
  width: 195px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cell-wrapper758 {
  align-self: stretch;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  color: var(--color-white);
}
.cell762 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper759 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.cell763 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 79px;
}
.cell-wrapper760 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
}
.cell764 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 73px;
}
.cell-wrapper761 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.sp-mothers-maiden-name1 {
  width: 179px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 21;
}
.cell765 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 74px;
}
.cell-wrapper762 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xl);
  color: var(--color-white);
}
.cell766 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 85px;
}
.cell-wrapper763 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
}
.cell767 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 86px;
}
.cell-wrapper764 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
}
.cell768 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 91px;
}
.cell-wrapper765 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xl);
}
.sp-sssno1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 22;
}
.cell769 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.cell-wrapper766 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-45xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell-wrapper766:hover,
.cell-wrapper782:hover {
  background-color: var(--color-indianred-100);
}
.cell770 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 110px;
}
.cell-wrapper767 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-15xl);
}
.cell771 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 120px;
}
.cell-wrapper768 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-10xl);
}
.cell772 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 125px;
}
.cell-wrapper769 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.sp-tin1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 23;
}
.cell773 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper770 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  color: var(--color-white);
}
.cell774 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 84px;
}
.cell-wrapper771 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-28xl);
}
.cell775 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 84px;
}
.cell-wrapper772 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-28xl);
}
.cell776 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 82px;
}
.cell-wrapper773 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-29xl);
}
.sp-residence-phone1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 24;
}
.cell777 {
  position: relative;
  display: inline-block;
  min-width: 121px;
}
.cell-wrapper774 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-10xl);
  color: var(--color-white);
}
.cell778 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 100px;
}
.cell-wrapper775 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-20xl);
}
.cell779 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 102px;
}
.cell-wrapper776 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-19xl);
}
.cell780 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper777 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-21xl);
}
.sp-mobilephone1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 25;
}
.cell781 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 66px;
}
.cell-wrapper778 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-49xl);
  color: var(--color-white);
}
.cell782 {
  text-decoration: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
}
.cell-wrapper779 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xs);
}
.cell783 {
  text-decoration: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
}
.cell-wrapper780 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xl);
}
.cell784 {
  text-decoration: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
}
.cell-wrapper781 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
}
.sp-msp-emailobilephone1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 26;
}
.cell785 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 29px;
}
.cell-wrapper782 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-24xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell786 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cell-wrapper783 {
  align-self: stretch;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-39xl);
  box-sizing: border-box;
}
.edit2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 150%;
  display: inline-block;
  min-width: 20px;
}
.edit1 {
  width: 32px;
  border-radius: 4px;
  background-color: var(--color-mediumspringgreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-8xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.cell787 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cell-wrapper784 {
  align-self: stretch;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-39xl);
  box-sizing: border-box;
}
.cell788 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cell-wrapper785 {
  align-self: stretch;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-39xl);
  box-sizing: border-box;
}
.borrower-information10,
.edit,
.table6 {
  display: flex;
  justify-content: flex-start;
}
.edit {
  width: 116px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 27;
}
.borrower-information10,
.table6 {
  flex-direction: row;
}
.table6 {
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-3xs) 218px var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-brown-200);
  font-family: var(--font-raleway);
}
.borrower-information10 {
  width: 100%;
  height: 172px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 4425px) {
  .borrower-information10 {
    height: auto;
  }
}
@media screen and (max-width: 3100px) {
  .borrower-information10 {
    height: auto;
  }
}
@media screen and (max-width: 1800px) {
  .table6 {
    padding-right: var(--padding-35xl);
    box-sizing: border-box;
  }
  .borrower-information10 {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .table6 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .borrower-information10 {
    height: auto;
  }
}
