.cell789 {
  position: relative;
}
.cell-wrapper786 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell790 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 34px;
}
.cell-wrapper787 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-59xl);
}
.cell791 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 34px;
}
.cell-wrapper788 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-59xl);
}
.cell792 {
  position: relative;
  display: inline-block;
  min-width: 36px;
}
.cell-wrapper789 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-58xl);
}
.cell793 {
  position: relative;
  display: inline-block;
  min-width: 36px;
}
.cell-wrapper790 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-58xl);
}
.cell794 {
  position: relative;
  display: inline-block;
  min-width: 36px;
}
.cell-wrapper791 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-58xl);
}
.cell795 {
  position: relative;
  display: inline-block;
  min-width: 36px;
}
.cell-wrapper792 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-58xl);
}
.financial-informationid13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell796 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper793 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  color: var(--color-white);
}
.cell797 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper794 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.cell798 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper795 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.cell799 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper796 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.cell800 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper797 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.cell801 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper798 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.cell802 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper799 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.borrower-id11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell803 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper800 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xl);
  color: var(--color-white);
}
.cell804 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 71px;
}
.cell-wrapper801 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell805 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 36px;
}
.cell-wrapper802 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-53xl);
}
.cell806 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 104px;
}
.cell-wrapper803 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-19xl);
}
.cell807 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 71px;
}
.cell-wrapper804 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell808 {
  position: relative;
  display: inline-block;
  min-width: 85px;
}
.cell-wrapper805 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-28xl);
}
.cell809 {
  position: relative;
  display: inline-block;
  min-width: 104px;
}
.cell-wrapper806 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-19xl);
}
.employment-type14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell810 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper807 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
  white-space: nowrap;
  color: var(--color-white);
}
.cell811 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 117px;
}
.cell-wrapper808 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.cell812 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 117px;
}
.cell-wrapper809 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.cell813 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 129px;
}
.cell-wrapper810 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
}
.cell814 {
  position: relative;
  display: inline-block;
  min-width: 117px;
}
.cell-wrapper811 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.cell815 {
  position: relative;
  display: inline-block;
  min-width: 115px;
}
.cell-wrapper812 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.cell816 {
  position: relative;
  display: inline-block;
  min-width: 112px;
}
.cell-wrapper813 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-15xl);
}
.emp-business-name7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell817 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper814 {
  align-self: stretch;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--color-white);
}
.cell818 {
  position: relative;
}
.cell-wrapper815 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-7xl);
}
.cell819 {
  position: relative;
}
.cell-wrapper816 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-49xl);
}
.cell820 {
  position: relative;
}
.cell-wrapper817 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell821 {
  position: relative;
}
.cell-wrapper818 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-7xl);
}
.cell822 {
  position: relative;
}
.cell-wrapper819 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xl);
}
.cell823 {
  position: relative;
}
.cell-wrapper820 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
}
.emp-officeaddress7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 215px;
  max-width: 100%;
}
.cell824 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper821 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xl);
  color: var(--color-white);
}
.cell825 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 79px;
}
.cell-wrapper822 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
}
.cell826 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 90px;
}
.cell-wrapper823 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.cell827 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.cell-wrapper824 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-30xl);
}
.cell828 {
  position: relative;
  display: inline-block;
  min-width: 79px;
}
.cell-wrapper825 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
}
.cell829 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.cell-wrapper826 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-30xl);
}
.cell830 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.cell-wrapper827 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-30xl);
}
.emp-telephoneno7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell831 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper828 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-7xs);
  color: var(--color-white);
}
.cell832 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 101px;
}
.cell-wrapper829 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-20xl);
}
.cell833 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper830 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.cell834 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.cell-wrapper831 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-51xl);
}
.cell835 {
  position: relative;
  display: inline-block;
  min-width: 101px;
}
.cell-wrapper832 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-20xl);
}
.cell836 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 75px;
}
.cell-wrapper833 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell837 {
  position: relative;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper834 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.emp-natureofbusiness3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell838 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 97px;
}
.cell-wrapper835 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-10xl);
  color: var(--color-white);
}
.cell839 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cell-wrapper836 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xs);
}
.cell840 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 115px;
}
.cell-wrapper837 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell841 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.cell-wrapper838 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell842 {
  position: relative;
}
.cell-wrapper839 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xs);
}
.cell843 {
  position: relative;
  display: inline-block;
  min-width: 128px;
}
.cell-wrapper840 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-sm);
}
.cell844 {
  position: relative;
  display: inline-block;
  min-width: 63px;
}
.cell-wrapper841 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.emp-jobtitle1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell845 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 120px;
}
.cell-wrapper842 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mid);
  color: var(--color-white);
}
.cell846 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 77px;
}
.cell-wrapper843 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-20xl);
}
.cell847 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 75px;
}
.cell-wrapper844 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-21xl);
}
.cell848 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 76px;
}
.cell-wrapper845 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-20xl);
}
.cell849 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.cell-wrapper846 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-20xl);
}
.cell850 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.cell-wrapper847 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-20xl);
}
.cell851 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.cell-wrapper848 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-20xl);
}
.emp-date-hired1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell852 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 102px;
}
.cell-wrapper849 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-7xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell-wrapper849:hover {
  background-color: var(--color-indianred-100);
}
.cell853 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 115px;
}
.cell-wrapper850 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell854 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 100px;
}
.cell-wrapper851 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.cell855 {
  position: relative;
  display: inline-block;
  min-width: 30px;
}
.cell-wrapper852 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-43xl);
}
.cell856 {
  position: relative;
  display: inline-block;
  min-width: 115px;
}
.cell-wrapper853 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell857 {
  position: relative;
  display: inline-block;
  min-width: 112px;
}
.cell-wrapper854 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xl);
}
.cell858 {
  position: relative;
  display: inline-block;
  min-width: 121px;
}
.cell-wrapper855 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mid);
}
.emp-previous1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell859 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper856 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xs);
  color: var(--color-white);
}
.cell860 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cell-wrapper857 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
}
.cell861 {
  text-decoration: none;
  width: 180px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cell-wrapper858 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
}
.cell862 {
  position: relative;
  display: inline-block;
  min-width: 30px;
}
.cell-wrapper859 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-43xl);
}
.cell863 {
  position: relative;
}
.cell-wrapper860 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
}
.cell864 {
  width: 174px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.cell-wrapper861 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
}
.cell865 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.cell-wrapper862 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.emp-previoustitle1 {
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell866 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 79px;
}
.cell-wrapper863 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi);
  color: var(--color-white);
}
.cell867 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper864 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell868 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper865 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell869 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper866 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell870 {
  position: relative;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper867 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell871 {
  position: relative;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper868 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell872 {
  position: relative;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper869 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.emp-years1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.cell873 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper870 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xs);
  color: var(--color-white);
}
.cell874 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 55px;
}
.cell-wrapper871 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-49xl);
}
.cell875 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 49px;
}
.cell-wrapper872 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-52xl);
}
.cell876 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper873 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-50xl);
}
.cell877 {
  position: relative;
  display: inline-block;
  min-width: 58px;
}
.cell-wrapper874 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-48xl);
}
.cell878 {
  position: relative;
  display: inline-block;
  min-width: 55px;
}
.cell-wrapper875 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-49xl);
}
.cell879 {
  position: relative;
  display: inline-block;
  min-width: 58px;
}
.cell-wrapper876 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-48xl);
}
.emp-grossannualsalary1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.cell880 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 123px;
}
.cell-wrapper877 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell881 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 45px;
}
.cell-wrapper878 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-30xl);
}
.cell882 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper879 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-47xl);
}
.cell883 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper880 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-47xl);
}
.cell884 {
  position: relative;
  display: inline-block;
  min-width: 49px;
}
.cell-wrapper881 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-28xl);
}
.cell885 {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.cell-wrapper882 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-26xl);
}
.cell886 {
  position: relative;
  display: inline-block;
  min-width: 49px;
}
.cell-wrapper883 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-28xl);
}
.emp-allowances1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.cell887 {
  position: relative;
}
.cell-wrapper884 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell888 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper885 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell889 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper886 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell890 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper887 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-46xl);
}
.cell891 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper888 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell892 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper889 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell893 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper890 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.emp-business-income1 {
  width: 184px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 4;
}
.cell894 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper891 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell895 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper892 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-53xl);
}
.cell896 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper893 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-53xl);
}
.cell897 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper894 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-53xl);
}
.cell898 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper895 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-53xl);
}
.cell899 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper896 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-53xl);
}
.cell900 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper897 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-53xl);
}
.emp-commissions1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}
.cell901 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper898 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell902 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper899 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-60xl);
}
.cell903 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper900 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-60xl);
}
.cell904 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper901 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-60xl);
}
.cell905 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper902 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-60xl);
}
.cell906 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper903 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-60xl);
}
.cell907 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper904 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-60xl);
}
.emp-rental-income1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 6;
}
.cell908 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper905 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell909 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper906 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.cell910 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper907 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.cell911 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper908 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.cell912 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper909 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.cell913 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper910 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.cell914 {
  position: relative;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper911 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-57xl);
}
.emp-other-income1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 7;
}
.cell915 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper912 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell916 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper913 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.cell917 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 49px;
}
.cell-wrapper914 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell918 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 62px;
}
.cell-wrapper915 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-28xl);
}
.cell919 {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.cell-wrapper916 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
}
.cell920 {
  position: relative;
  display: inline-block;
  min-width: 55px;
}
.cell-wrapper917 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.cell921 {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.cell-wrapper918 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
}
.emp-total-income1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 8;
}
.financial-information8,
.table7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.table7 {
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-3xs);
  max-width: 100%;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-brown-200);
  font-family: var(--font-raleway);
}
.financial-information8 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 331px) {
  .cell-wrapper816 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
