.header-child,
.mask-group-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.header-child {
  width: 100%;
  margin: 0 !important;
  right: 0;
}
.mask-group-icon {
  width: 18.95%;
  right: 81.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bpi,
.housing-loan {
  text-decoration: none;
  letter-spacing: -0.02em;
  font-weight: 900;
  color: inherit;
  white-space: nowrap;
}
.bpi {
  position: absolute;
  height: calc(100% - 10px);
  width: 29.47%;
  top: 5px;
  left: 17.89%;
  line-height: 54px;
  display: inline-block;
}
.housing-loan {
  position: relative;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.housing-loan-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.application-form {
  margin-top: -3px;
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: 69da668;
  white-space: nowrap;
}
.application-form-wrapper,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.application-form-wrapper {
  align-self: stretch;
  height: 20px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frame-parent {
  position: absolute;
  top: 14px;
  left: 134px;
  width: 151px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-xl);
}
.logo {
  height: 64px;
  width: 285px;
  position: relative;
  z-index: 1;
}
.about,
.contact-agreement,
.home {
  text-decoration: none;
  width: 49px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.about,
.contact-agreement {
  width: 46px;
}
.contact-agreement {
  width: 148px;
  white-space: nowrap;
}
.header-inner,
.home-parent {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.home-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-brown-100);
  font-family: var(--font-roboto);
}
.header-inner {
  width: 505px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.get-started {
  width: 72px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: none;
}
.header,
.primary-button {
  flex-direction: row;
  box-sizing: border-box;
}
.primary-button {
  height: 40px;
  width: 114px;
  border-radius: var(--br-5xs);
  background: linear-gradient(-88.81deg, #ec696d, #a32c30 33%, #3d1112);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  z-index: 3;
  text-align: left;
  font-size: var(--body-body-14-size);
  color: var(--color-white);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-72xl);
  gap: var(--gap-132xl);
  max-width: 100%;
  height: 100%;
}
.logout {
  position: relative;
  font-size: var(--body-body-14-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.primary-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-11xl);
  background-color: var(--color-brown-100);
  position: absolute;
  top: 28px;
  left: 1235px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.primary-button1:hover {
  background-color: var(--color-indianred-100);
}
.main {
  align-self: stretch;
  height: 92px;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-brown-100);
  font-family: var(--font-roboto);
}
.frame-child {
  height: 903px;
  width: 270px;
  position: relative;
  background: linear-gradient(180deg, #410c0e, #a72025);
  display: none;
}
.mask-group-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  object-fit: contain;
}
.profile {
  align-self: stretch;
  position: relative;
  font-weight: 700;
}
.menu-icons,
.profile-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.menu-icons {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-lg) var(--padding-base)
    var(--padding-21xl);
  gap: var(--gap-xs);
  cursor: pointer;
}
.mask-group-icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  object-fit: cover;
  min-height: 20px;
}
.new-requests {
  align-self: stretch;
  position: relative;
  font-weight: 700;
}
.menu-icons1,
.new-requests-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.new-requests-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.menu-icons1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-lg) var(--padding-base)
    var(--padding-21xl);
  gap: var(--gap-xs);
  cursor: pointer;
}
.mask-group-icon3 {
  height: 20px;
  width: 16px;
  position: relative;
  object-fit: contain;
  min-height: 20px;
}
.requests1 {
  width: 180px;
  position: relative;
  font-weight: 700;
  display: inline-block;
  flex-shrink: 0;
}
.menu-icons2 {
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-lg) var(--padding-mini)
    var(--padding-24xl);
  gap: var(--gap-smi);
}
.menu-icons-parent,
.menu-icons2,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-icons-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
  z-index: 1;
}
.rectangle-parent {
  height: 903px;
  width: 270px;
  background: linear-gradient(180deg, #410c0e, #a72025);
  flex-direction: row;
  padding: var(--padding-33xl) 0;
  box-sizing: border-box;
  min-width: 270px;
}
.requests-record {
  margin: 0;
  align-self: stretch;
  height: 60px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.content,
.requests-record-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.requests-record-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-37xl) 0 0;
  min-width: 253px;
  font-size: var(--font-size-31xl);
  color: var(--color-brown-100);
}
.content {
  width: 750px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-51xl);
}
.all-rights-reserved,
.made-by-students {
  display: block;
}
.all-rights-reserved-container {
  margin: 0;
  height: 23px;
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.footer-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.footer,
.requests {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-73xl);
  font-size: var(--font-size-3xs);
  color: var(--color-brown-100);
  font-family: var(--body-body-14);
}
.requests {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1125px) {
  .header {
    gap: var(--gap-56xl);
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .requests-record {
    font-size: var(--font-size-21xl);
  }
  .content {
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 750px) {
  .header {
    gap: var(--gap-19xl);
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .rectangle-parent {
    flex: 1;
  }
  .content {
    flex-wrap: wrap;
  }
  .footer {
    padding-left: var(--padding-27xl);
    padding-right: var(--padding-27xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .header {
    gap: var(--gap-lgi);
  }
  .menu-icons2 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .requests-record {
    font-size: var(--font-size-11xl);
  }
  .content {
    gap: var(--gap-mid);
  }
  .footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
