.frame-child12,
.frame-child13,
.rectangle-input4,
.rectangle-input5 {
  position: absolute;
  border-radius: var(--br-11xs);
  border: 3px solid var(--color-goldenrod);
  box-sizing: border-box;
  width: 15.3px;
}
.rectangle-input4 {
  margin: 0;
  top: 0;
  left: 0;
  height: 14px;
}
.frame-child12,
.frame-child13,
.rectangle-input5 {
  top: 26px;
  left: 18.7px;
  height: 10px;
}
.frame-child13,
.rectangle-input5 {
  top: 0;
  height: 22px;
}
.rectangle-input5 {
  margin: 0;
  top: 18px;
  left: 0;
  height: 18px;
}
.rectangle-parent10 {
  width: 34px;
  height: 36px;
  position: relative;
}
.frame-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.bpi5,
.housing-loan7 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.bpi5 {
  height: 54px;
  width: 84px;
  min-width: 84px;
}
.housing-loan7 {
  min-width: 120px;
}
.housing-loan-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.administrator-page3 {
  margin-top: -3px;
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.administrator-page-wrapper1,
.frame-parent5,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.administrator-page-wrapper1 {
  align-self: stretch;
  height: 20px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frame-parent5,
.frame-wrapper3 {
  flex-direction: column;
}
.frame-parent5 {
  align-self: stretch;
}
.frame-wrapper3 {
  width: 151px;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
}
.separator {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-87xl);
  position: sticky;
  gap: var(--gap-12xs-5);
  top: 0;
  z-index: 99;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-brown-100);
  font-family: var(--font-roboto);
}
.all-rights-reserved5,
.made-by-students5 {
  margin: 0;
}
.all-rights-reserved-container5 {
  position: relative;
  font-weight: 300;
}
.footer-inner,
.footer5 {
  width: 1440px;
  max-width: 100%;
}
.footer-inner {
  height: 85px;
  position: relative;
  display: none;
}
.footer5 {
  position: absolute;
  top: 847px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-73xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-brown-100);
  font-family: var(--body-body-14);
}
.frame-child14 {
  align-self: stretch;
  height: 847px;
  position: relative;
  background: linear-gradient(180deg, #410c0e, #a72025);
  display: none;
}
.mask-group-icon18 {
  height: 20px;
  width: 20px;
  position: relative;
  object-fit: contain;
}
.members-information5 {
  align-self: stretch;
  position: relative;
}
.mask-group-container,
.members-information-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.members-information-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.mask-group-container {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-lg) var(--padding-base)
    var(--padding-21xl);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 1;
}
.mask-group-icon19 {
  height: 20px;
  width: 16px;
  position: relative;
  object-fit: contain;
  min-height: 20px;
}
.loan-requests6 {
  flex: 1;
  position: relative;
}
.mask-group-parent1,
.rectangle-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-parent1 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-lg) var(--padding-mini)
    var(--padding-24xl);
  gap: var(--gap-smi);
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #410c0e, #a72025);
  width: 270px;
  height: 847px;
  flex-direction: column;
  padding: var(--padding-33xl) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.existing-loan1 {
  margin: 0;
  position: absolute;
  top: 52px;
  left: 335px;
  font-size: var(--font-size-31xl);
  line-height: 51px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-brown-100);
  display: inline-block;
  width: 523px;
  height: 51px;
}
.existing-loan2,
.home5 {
  position: absolute;
  top: 108px;
  display: inline-block;
  font-family: var(--font-raleway);
}
.home5 {
  left: 335px;
  font-weight: 300;
  white-space: pre-wrap;
  width: 68px;
  cursor: pointer;
}
.existing-loan2 {
  left: 403px;
  width: 157px;
}
.edit-icon3,
.edit-icon4,
.edit-icon5 {
  position: absolute;
  top: 268px;
  left: 1270px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.edit-icon4,
.edit-icon5 {
  top: 306px;
}
.edit-icon5 {
  top: 344px;
}
.delete-icon5,
.delete-icon6,
.delete-icon7,
.edit-icon6,
.edit-icon7,
.edit-icon8 {
  position: absolute;
  top: 271px;
  left: 1315px;
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.delete-icon6,
.delete-icon7,
.edit-icon6,
.edit-icon7,
.edit-icon8 {
  top: 347px;
}
.delete-icon7,
.edit-icon6,
.edit-icon7,
.edit-icon8 {
  top: 309px;
}
.edit-icon6,
.edit-icon7,
.edit-icon8 {
  top: 382px;
  left: 1272px;
  width: 30px;
  height: 30px;
}
.edit-icon7,
.edit-icon8 {
  top: 420px;
}
.edit-icon8 {
  top: 458px;
}
.delete-icon10,
.delete-icon8,
.delete-icon9 {
  position: absolute;
  top: 385px;
  left: 1317px;
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.delete-icon10,
.delete-icon9 {
  top: 461px;
}
.delete-icon10 {
  top: 423px;
}
.label201 {
  width: 100%;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-roboto);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 23px;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 700;
  color: var(--color-gray-100);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 250px;
  max-width: 100%;
  padding: 0;
}
.field183 {
  position: absolute;
  top: 148px;
  left: 335px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  max-width: 100%;
}
.search2 {
  margin-left: -2px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.05em;
  line-height: 23px;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  flex-shrink: 0;
}
.primary-button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 0 var(--padding-6xs);
  background-color: transparent;
  position: absolute;
  top: 148px;
  left: 935px;
  border-radius: var(--br-5xs);
  background: linear-gradient(-88.81deg, #ec696d, #a32c30 33%, #3d1112);
  width: 108px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 1;
}
.cell24 {
  position: relative;
  display: inline-block;
  min-width: 122px;
}
.cell-wrapper21 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xs);
  color: var(--color-white);
}
.cell25 {
  position: relative;
  display: inline-block;
  min-width: 17px;
}
.cell-wrapper22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-41xl);
}
.cell26 {
  position: relative;
  display: inline-block;
  min-width: 17px;
}
.cell-wrapper23 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-41xl);
}
.cell27 {
  position: relative;
  display: inline-block;
  min-width: 18px;
}
.cell-wrapper24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-41xl);
}
.cell28 {
  position: relative;
  display: inline-block;
  min-width: 18px;
}
.cell-wrapper25 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-41xl);
}
.cell29 {
  position: relative;
  display: inline-block;
  min-width: 19px;
}
.cell-wrapper26 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-40xl);
}
.cell30 {
  position: relative;
  display: inline-block;
  min-width: 19px;
}
.cell-wrapper27 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-40xl);
}
.financial-informationid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell31 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 89px;
}
.cell-wrapper28 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell-wrapper28:hover {
  background-color: var(--color-indianred-100);
}
.cell32 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper29 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell33 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper30 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell34 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.cell35 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper32 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.cell36 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper33 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.cell37 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper34 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.financial-informationid1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell38 {
  position: relative;
}
.cell-wrapper35 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell39 {
  position: relative;
  display: inline-block;
  min-width: 24px;
}
.cell-wrapper36 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-45xl);
}
.cell40 {
  position: relative;
  display: inline-block;
  min-width: 32px;
}
.cell-wrapper37 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-41xl);
}
.cell41 {
  position: relative;
  display: inline-block;
  min-width: 24px;
}
.cell-wrapper38 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-45xl);
}
.cell42 {
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.cell-wrapper39 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.cell43 {
  position: relative;
  display: inline-block;
  min-width: 24px;
}
.cell-wrapper40 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-45xl);
}
.cell44 {
  position: relative;
  display: inline-block;
  min-width: 24px;
}
.cell-wrapper41 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-45xl);
}
.financial-informationid2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell45 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.cell-wrapper42 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
  color: var(--color-white);
}
.cell46 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper43 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell47 {
  position: relative;
}
.cell-wrapper44 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-sm);
}
.cell48 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.cell-wrapper45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell49 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper46 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell50 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.cell-wrapper47 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell51 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.cell-wrapper48 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.borrower-id1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell52 {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.cell-wrapper49 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi);
  color: var(--color-white);
}
.cell53 {
  position: relative;
  display: inline-block;
  min-width: 79px;
}
.cell-wrapper50 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.cell54 {
  position: relative;
  display: inline-block;
  min-width: 86px;
}
.cell-wrapper51 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.cell55 {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.cell-wrapper52 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xl);
}
.cell56 {
  position: relative;
  display: inline-block;
  min-width: 86px;
}
.cell-wrapper53 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.cell57 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper54 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-10xl);
}
.cell58 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper55 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-10xl);
}
.employment-type4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell59 {
  flex: 1;
  position: relative;
}
.cell-wrapper56 {
  align-self: stretch;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  color: var(--color-white);
}
.cell60 {
  position: relative;
  display: inline-block;
  min-width: 55px;
}
.cell-wrapper57 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-48xl);
}
.cell61 {
  position: relative;
  display: inline-block;
  min-width: 62px;
}
.cell-wrapper58 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-44xl);
}
.cell62 {
  position: relative;
  display: inline-block;
  min-width: 61px;
}
.cell-wrapper59 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-45xl);
}
.cell63 {
  position: relative;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper60 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-48xl);
}
.cell64 {
  position: relative;
  display: inline-block;
  min-width: 63px;
}
.cell-wrapper61 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-44xl);
}
.cell65 {
  position: relative;
  display: inline-block;
  min-width: 63px;
}
.cell-wrapper62 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-44xl);
}
.emp-business-name {
  width: 189px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell66 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cell-wrapper63 {
  align-self: stretch;
  height: 38px;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  color: var(--color-white);
}
.cell67 {
  position: relative;
}
.cell-wrapper64,
.cell67,
.cell68 {
  align-self: stretch;
  flex: 1;
}
.cell-wrapper64 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-44xl);
}
.cell68 {
  position: relative;
}
.cell-wrapper65 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-43xl);
}
.cell-wrapper65,
.cell-wrapper66,
.cell69 {
  align-self: stretch;
  flex: 1;
}
.cell69 {
  position: relative;
}
.cell-wrapper66 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-40xl);
}
.cell70 {
  position: relative;
}
.cell-wrapper67,
.cell70,
.cell71 {
  align-self: stretch;
  flex: 1;
}
.cell-wrapper67 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-45xl);
}
.cell71 {
  position: relative;
}
.cell-wrapper68 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-40xl);
}
.cell-wrapper68,
.cell-wrapper69,
.cell72 {
  align-self: stretch;
  flex: 1;
}
.cell72 {
  position: relative;
}
.cell-wrapper69 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-40xl);
}
.emp-officeaddress {
  align-self: stretch;
  width: 180px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell73 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cell-wrapper70 {
  align-self: stretch;
  height: 38px;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-9xs);
  box-sizing: border-box;
  color: var(--color-white);
}
.cell74 {
  position: relative;
}
.cell-wrapper71,
.cell74,
.cell75 {
  align-self: stretch;
  flex: 1;
}
.cell-wrapper71 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-46xl);
}
.cell75 {
  position: relative;
}
.cell-wrapper72 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-42xl);
}
.cell-wrapper72,
.cell-wrapper73,
.cell76 {
  align-self: stretch;
  flex: 1;
}
.cell76 {
  position: relative;
}
.cell-wrapper73 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-42xl);
}
.cell77 {
  position: relative;
}
.cell-wrapper74,
.cell77,
.cell78 {
  align-self: stretch;
  flex: 1;
}
.cell-wrapper74 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-47xl);
}
.cell78 {
  position: relative;
}
.cell-wrapper75 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-42xl);
}
.cell-wrapper75,
.cell-wrapper76,
.cell79 {
  align-self: stretch;
  flex: 1;
}
.cell79 {
  position: relative;
}
.cell-wrapper76 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-42xl);
}
.emp-telephoneno {
  align-self: stretch;
  width: 167px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.borrower-information2,
.exisiting-loan,
.loan-info-columns {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.loan-info-columns {
  width: 1118px;
  flex: 1;
  overflow-x: auto;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-2xs);
  max-width: 100%;
}
.borrower-information2,
.exisiting-loan {
  background-color: var(--color-white);
  flex-shrink: 0;
  align-items: flex-start;
}
.exisiting-loan {
  margin-left: -5px;
  height: 286px;
  width: 1333px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  max-width: 100%;
}
.borrower-information2 {
  margin-top: -29px;
  height: 721px;
  width: 6292px;
  overflow-y: auto;
  flex-direction: row;
  padding: var(--padding-5xl) 0;
  max-width: 677%;
}
.action-buttons,
.borrower-info1 {
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-brown-200);
}
.borrower-info1 {
  position: absolute;
  top: 221px;
  left: 327px;
  width: 930px;
  height: 663px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  font-family: var(--font-raleway);
}
.action-buttons {
  align-self: stretch;
  height: 932px;
  position: relative;
  font-family: var(--font-roboto);
}
.loan-requests-existing-loan {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .existing-loan1 {
    font-size: var(--font-size-21xl);
    line-height: 41px;
  }
}
@media screen and (max-width: 675px) {
  .frame-parent4 {
    padding-left: var(--padding-34xl);
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .existing-loan1 {
    font-size: var(--font-size-11xl);
    line-height: 31px;
  }
}
