.cell202 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 118px;
}
.cell-wrapper199 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell203 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 32px;
}
.cell-wrapper200 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell204 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 32px;
}
.cell-wrapper201 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell205 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper202 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell206 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper203 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell207 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper204 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell208 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper205 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.financial-informationid6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell209 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper206 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell-wrapper206:hover,
.cell-wrapper213:hover,
.cell-wrapper220:hover,
.cell-wrapper248:hover {
  background-color: var(--color-indianred-100);
}
.cell210 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper207 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell211 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper208 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell212 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper209 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.cell213 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper210 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.cell214 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper211 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.cell215 {
  position: relative;
  display: inline-block;
  min-width: 35px;
}
.cell-wrapper212 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.financial-informationid7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell216 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 102px;
}
.cell-wrapper213 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-brown-100);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell217 {
  position: relative;
}
.cell-wrapper214 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi);
}
.cell218 {
  position: relative;
}
.cell-wrapper215 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi);
}
.cell219 {
  position: relative;
}
.cell-wrapper216 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-17xl);
}
.cell220 {
  position: relative;
}
.cell-wrapper217 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-17xl);
}
.cell221 {
  position: relative;
}
.cell-wrapper218 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-51xl);
}
.cell222 {
  position: relative;
}
.cell-wrapper219 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-51xl);
}
.borrower-id5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 199px;
}
.cell223 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
}
.cell-wrapper220 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell224 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cell-wrapper221 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.cell225 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cell-wrapper222 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.cell226 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cell-wrapper223 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.cell227 {
  position: relative;
}
.cell-wrapper224 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.cell228 {
  position: relative;
  display: inline-block;
  min-width: 78px;
}
.cell-wrapper225 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.cell229 {
  position: relative;
  display: inline-block;
  min-width: 78px;
}
.cell-wrapper226 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.employment-type7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell230 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 100px;
}
.cell-wrapper227 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-21xl);
  color: var(--color-white);
}
.cell231 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 69px;
}
.cell-wrapper228 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.cell232 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 69px;
}
.cell-wrapper229 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.cell233 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.cell-wrapper230 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.cell234 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.cell-wrapper231 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.cell235 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.cell-wrapper232 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-37xl);
}
.cell236 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.cell-wrapper233 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-37xl);
}
.emp-business-name3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell237 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 82px;
}
.cell-wrapper234 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xl);
  color: var(--color-white);
}
.cell238 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 16px;
}
.cell-wrapper235 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell239 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 16px;
}
.cell-wrapper236 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell240 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 15px;
}
.cell-wrapper237 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.cell241 {
  position: relative;
  display: inline-block;
  min-width: 15px;
}
.cell-wrapper238 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.cell242 {
  position: relative;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper239 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-39xl);
}
.cell243 {
  position: relative;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper240 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-39xl);
}
.emp-officeaddress3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell244 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 90px;
}
.cell-wrapper241 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--color-white);
}
.cell245 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 41px;
}
.cell-wrapper242 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-25xl);
}
.cell246 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 41px;
}
.cell-wrapper243 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-25xl);
}
.cell247 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 63px;
}
.cell-wrapper244 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-14xl);
}
.cell248 {
  position: relative;
  display: inline-block;
  min-width: 63px;
}
.cell-wrapper245 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-14xl);
}
.cell249 {
  position: relative;
  display: inline-block;
  min-width: 56px;
}
.cell-wrapper246 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
}
.cell250 {
  position: relative;
  display: inline-block;
  min-width: 56px;
}
.cell-wrapper247 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
}
.emp-telephoneno3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell251 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 93px;
}
.cell-wrapper248 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-3xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell252 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper249 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.cell253 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper250 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.cell254 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper251 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.cell255 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper252 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.cell256 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper253 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.cell257 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper254 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xl);
}
.emp-natureofbusiness1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.loan-request1,
.loan-request2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.loan-request2 {
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-brown-200);
  font-family: var(--font-raleway);
}
.loan-request1 {
  width: 100%;
  position: relative;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 305px) {
  .cell-wrapper218,
  .cell-wrapper219 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
