.all-rights-reserved20,
.made-by-students20 {
  margin: 0;
}
.all-rights-reserved-container20 {
  position: relative;
  font-weight: 300;
}
.footer-child14 {
  height: 85px;
  width: 1440px;
  position: relative;
  display: none;
  max-width: 100%;
}
.footer20 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-73xl);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.header-child2 {
  height: 92px;
  width: 1440px;
  position: relative;
  display: none;
  max-width: 100%;
}
.mask-group-icon43 {
  position: absolute;
  height: 100%;
  width: 18.95%;
  top: 0;
  right: 81.05%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bpi21,
.housing-loan26 {
  text-decoration: none;
  letter-spacing: -0.02em;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
}
.bpi21 {
  position: absolute;
  height: calc(100% - 10px);
  width: 29.47%;
  top: 5px;
  left: 17.89%;
  line-height: 54px;
  min-width: 84px;
}
.housing-loan26 {
  position: relative;
  min-width: 120px;
  flex-shrink: 0;
}
.housing-loan-wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.application-form17 {
  margin-top: -3px;
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.application-form-frame,
.loan-app-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.application-form-frame {
  align-self: stretch;
  height: 20px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.loan-app-name {
  position: absolute;
  top: 14px;
  left: 134px;
  width: 151px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-xl);
}
.logo8 {
  height: 64px;
  width: 285px;
  position: relative;
  z-index: 1;
}
.about8,
.contact-agreement9,
.home16 {
  text-decoration: none;
  width: 49px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.about8,
.contact-agreement9 {
  width: 46px;
}
.contact-agreement9 {
  width: 148px;
  white-space: nowrap;
}
.menu1,
.navigation5 {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.menu1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.navigation5 {
  width: 505px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.get-started8 {
  width: 72px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: none;
}
.header8,
.primary-button30 {
  flex-direction: row;
  box-sizing: border-box;
}
.primary-button30 {
  height: 40px;
  width: 114px;
  border-radius: var(--br-5xs);
  background-color: var(--color-goldenrod);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  cursor: pointer;
  text-align: left;
  font-size: var(--body-body-14-size);
}
.header8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-72xl);
  gap: var(--gap-132xl);
  max-width: 100%;
  height: 100%;
  z-index: 1;
}
.mask-group-icon44 {
  position: absolute;
  height: calc(100% - 28px);
  top: 14px;
  bottom: 14px;
  left: 1278px;
  max-height: 100%;
  width: 71px;
  object-fit: contain;
  z-index: 2;
}
.frame-header {
  align-self: stretch;
  height: 92px;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.submitted-successfully1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.submission-message1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-49xl);
  box-sizing: border-box;
  max-width: 100%;
}
.check-your-email,
.your-application-has {
  margin: 0;
}
.your-application-has-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.02em;
  line-height: 40px;
  font-weight: 300;
  font-family: inherit;
  color: var(--color-white);
  z-index: 3;
}
.submission-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.return-to-home1 {
  flex: 1;
  position: relative;
  font-size: var(--body-body-14-size);
  letter-spacing: 0.05em;
  line-height: 150%;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.primary-button-wrapper3,
.primary-button31 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.primary-button31 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-2xl) var(--padding-6xs)
    var(--padding-3xl);
  background-color: var(--color-mediumspringgreen);
  width: 177px;
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 3;
}
.primary-button31:hover {
  background-color: var(--color-forestgreen);
}
.primary-button-wrapper3 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.main-content2,
.submission-content-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.submission-content-parent {
  width: 880px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-48xl);
}
.main-content2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-mediumspringgreen);
  font-family: var(--font-roboto);
}
.success-modal-child {
  position: absolute;
  top: 372px;
  left: -709px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(211, 179, 49, 0.7),
    rgba(61, 17, 18, 0)
  );
  width: 1281px;
  height: 1129px;
}
.modal-background {
  position: absolute;
  top: -349px;
  left: 840px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(211, 179, 49, 0.6),
    rgba(61, 17, 18, 0)
  );
  width: 1422px;
  height: 1322px;
}
.success-modal-item {
  position: absolute;
  top: 384px;
  left: 780px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(211, 179, 49, 0.3),
    rgba(61, 17, 18, 0)
  );
  width: 1599px;
  height: 1508px;
  z-index: 2;
}
.success-modal-inner {
  position: absolute;
  top: 260px;
  left: 570px;
  width: 300px;
  height: 300px;
  object-fit: contain;
  z-index: 3;
}
.success-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.submitted {
  width: 100%;
  position: relative;
  background: linear-gradient(
      0.46deg,
      #ed3d43,
      #a72025 23.51%,
      #86171b 54.18%,
      #3d1112
    ),
    #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 242px;
  box-sizing: border-box;
  gap: 484px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--body-body-14);
}
@media screen and (max-width: 1125px) {
  .header8 {
    gap: var(--gap-56xl);
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .submitted-successfully1 {
    font-size: var(--font-size-21xl);
  }
  .submission-message1 {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .your-application-has-container {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
  .submission-content-parent {
    gap: var(--gap-14xl);
  }
}
@media screen and (max-width: 750px) {
  .header8 {
    gap: var(--gap-19xl);
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .submitted {
    gap: 242px;
  }
}
@media screen and (max-width: 450px) {
  .header8 {
    gap: var(--gap-lgi);
  }
  .submitted-successfully1 {
    font-size: var(--font-size-11xl);
  }
  .your-application-has-container {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .submission-content-parent {
    gap: var(--gap-mid);
  }
  .submitted {
    gap: 121px;
  }
}
