:root {
  --neutral-2: rgba(51, 65, 81, 1);
  --body-body-14-font-family: "Inter", Helvetica;
  --body-body-14-font-weight: 500;
  --body-body-14-font-size: 14px;
  --body-body-14-letter-spacing: 0px;
  --body-body-14-line-height: 21px;
  --body-body-14-font-style: normal;
}
