.header-child,
.mask-group-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.header-child {
  width: 100%;
  margin: 0 !important;
  right: 0;
}
.mask-group-icon {
  width: 18.95%;
  right: 81.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bpi,
.housing-loan {
  text-decoration: none;
  letter-spacing: -0.02em;
  font-weight: 900;
  color: inherit;
  display: inline-block;
}
.bpi {
  position: absolute;
  height: calc(100% - 10px);
  width: 29.47%;
  top: 5px;
  left: 17.89%;
  line-height: 54px;
}
.housing-loan {
  height: 23px;
  width: 120px;
  position: relative;
  flex-shrink: 0;
}
.loan-type {
  width: 122px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.application-form {
  margin-top: -3px;
  text-decoration: none;
  height: 23px;
  width: 151px;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.application,
.header-title {
  width: 151px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.application {
  height: 20px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.header-title {
  position: absolute;
  top: 14px;
  left: 134px;
  height: 43px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-xl);
}
.logo {
  height: 64px;
  width: 285px;
  position: relative;
  z-index: 1;
}
.about,
.contact-agreement,
.home {
  width: 49px;
  position: relative;
  display: inline-block;
  height: 18px;
  flex-shrink: 0;
}
.about,
.contact-agreement {
  width: 46px;
}
.contact-agreement {
  width: 148px;
}
.home-parent {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 131px;
  z-index: 2;
  font-size: var(--font-size-mini);
  color: var(--color-brown-100);
}
.get-started {
  width: 72px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: none;
}
.header,
.primary-button {
  flex-direction: row;
  box-sizing: border-box;
}
.primary-button {
  width: 114px;
  border-radius: var(--br-5xs);
  background: linear-gradient(-88.81deg, #ec696d, #a32c30 33%, #3d1112);
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-sm);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    8.16deg,
    #ed3d43,
    #a72025 23.51%,
    #86171b 54.18%,
    #3d1112
  );
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-72xl);
}
.bpi-housing-loan {
  height: 21px;
  width: 223px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
}
.primary-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-mini);
  background-color: var(--color-goldenrod);
  position: absolute;
  top: 28px;
  left: 1095px;
  border-radius: var(--br-5xs);
  width: 254px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.primary-button1:hover {
  background-color: var(--color-darkgoldenrod);
}
.admin-dashboard,
.header-parent {
  align-self: stretch;
  position: relative;
}
.header-parent {
  height: 92px;
}
.admin-dashboard {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  white-space: nowrap;
}
.dashboard-name {
  width: 523px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.search-child {
  height: 55px;
  width: 364px;
  position: relative;
  box-shadow: 0 2px 10px rgba(61, 17, 18, 0.15);
  border-radius: var(--br-9xl);
  background-color: var(--color-lavender);
  display: none;
  max-width: 100%;
}
.label,
.search-icon {
  position: relative;
  z-index: 1;
}
.label {
  width: calc(100% - 83px);
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-roboto);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 23px;
  flex: 1;
  line-height: 150%;
  font-weight: 700;
  color: var(--color-gray-200);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 150px;
  padding: 0;
}
.search-icon {
  height: 25px;
  width: 25px;
  min-height: 25px;
}
.search {
  width: 364px;
  box-shadow: 0 2px 10px rgba(61, 17, 18, 0.15);
  border-radius: var(--br-9xl);
  background-color: var(--color-lavender);
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-8xl) var(--padding-sm)
    var(--padding-12xl);
  box-sizing: border-box;
  gap: var(--gap-10xl);
}
.dashboard-header,
.dashboard-title,
.search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.dashboard-title {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dashboard-header {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
}
.loan-request-child {
  height: 39px;
  width: 183px;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-goldenrod);
  display: none;
}
.loan-request1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.collateral-child,
.loan-request {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
}
.loan-request {
  width: 183px;
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  white-space: nowrap;
}
.collateral-child {
  height: 39px;
  width: 197px;
  position: relative;
  background-color: var(--color-darkgray);
  display: none;
}
.collateral1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.borrower-information-child,
.collateral {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
}
.collateral {
  width: 197px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.borrower-information-child {
  height: 39px;
  width: 232px;
  position: relative;
  display: none;
}
.borrower-information1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.borrower-information,
.financial-information-child {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
}
.borrower-information {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  min-width: 151px;
  white-space: nowrap;
  cursor: pointer;
}
.financial-information-child {
  height: 39px;
  width: 227px;
  position: relative;
  display: none;
}
.financial-information1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.existing-loan-child,
.financial-information {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
}
.financial-information {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  min-width: 148px;
  white-space: nowrap;
  cursor: pointer;
}
.existing-loan-child {
  height: 39px;
  width: 185px;
  position: relative;
  display: none;
}
.existing-loans {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.deposit-accounts-child,
.existing-loan {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
}
.existing-loan {
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.deposit-accounts-child {
  height: 39px;
  width: 222px;
  position: relative;
  display: none;
}
.deposit-accounts1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.deposit-accounts,
.table-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.deposit-accounts {
  flex: 1;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  min-width: 144px;
  white-space: nowrap;
  cursor: pointer;
}
.table-header {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-11xs);
}
.cell {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 118px;
}
.cell-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-8xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-frame:hover,
.cell-wrapper13:hover,
.cell-wrapper7:hover,
.cell-wrapper9:hover,
.cell-wrapper:hover,
.frame-button:hover {
  background-color: var(--color-indianred);
}
.cell1 {
  position: relative;
  display: inline-block;
  min-width: 32px;
}
.cell-container,
.loanrequest-id {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-container {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-51xl);
}
.loanrequest-id {
  flex-direction: column;
}
.cell2 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 89px;
}
.cell-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell3 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.borrower-id,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.borrower-id {
  flex-direction: column;
}
.cell4 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 102px;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-brown-100);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.cell5 {
  position: relative;
}
.cell-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lgi);
}
.cell6 {
  position: relative;
}
.cell-wrapper2 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell7 {
  position: relative;
}
.cell-wrapper3 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell8 {
  position: relative;
}
.cell-wrapper4 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell9 {
  position: relative;
}
.cell-wrapper5 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell10 {
  position: relative;
}
.cell-wrapper6 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.loan-purpose {
  width: 306px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell11 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
}
.cell-wrapper7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell12 {
  position: relative;
}
.cell-wrapper8,
.loan-propertyuse {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper8 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.loan-propertyuse {
  flex-direction: column;
}
.cell13 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 100px;
}
.cell-wrapper9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-21xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell14 {
  position: relative;
  display: inline-block;
  min-width: 69px;
}
.cell-wrapper10,
.loan-amount {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper10 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.loan-amount {
  flex-direction: column;
}
.cell15 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.cell-wrapper11 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xl);
}
.cell16 {
  position: relative;
  display: inline-block;
  min-width: 16px;
}
.cell-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-35xl);
  color: var(--color-brown-200);
}
.cell17,
.loan-years {
  color: var(--color-white);
}
.loan-years {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell17 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  text-align: left;
  min-width: 90px;
}
.cell-wrapper13 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell18 {
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.cell-wrapper14,
.loan-period {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper14 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-25xl);
}
.loan-period {
  flex-direction: column;
}
.cell19 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cell-wrapper15 {
  align-self: stretch;
  height: 38px;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-34xl);
  box-sizing: border-box;
}
.cell20 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cell-wrapper16,
.tct-cct-no {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper16 {
  flex: 1;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-39xl);
  color: var(--color-brown-200);
}
.tct-cct-no {
  width: 200px;
  flex-shrink: 0;
  flex-direction: column;
  color: var(--color-white);
}
.cell21 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cell-wrapper17 {
  align-self: stretch;
  height: 38px;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-22xl);
  box-sizing: border-box;
}
.edit-icon,
.edit-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.edit-icon1 {
  height: 53.95%;
  width: 30.25%;
  top: 21.58%;
  right: 34.87%;
  bottom: 24.47%;
  left: 34.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.edit {
  height: 38px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.delete-icon,
.delete-inner,
.frame-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.delete-icon {
  height: 64.74%;
  width: 36.31%;
  top: 16.32%;
  right: 31.85%;
  bottom: 18.95%;
  left: 31.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.delete {
  height: 38px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.actions,
.actions1,
.loan-request2 {
  display: flex;
  align-items: flex-start;
}
.actions1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs-4);
}
.actions,
.loan-request2 {
  flex-shrink: 0;
}
.actions {
  width: 137px;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-white);
}
.loan-request2 {
  margin-left: -13px;
  width: 1375px;
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-10xs-5) var(--padding-4xs) var(--padding-10xs-5)
  var(--padding-3xs);
  box-sizing: border-box;
  max-width: 110%;
}
.loan-request2,
.table,
.table-body {
  align-self: stretch;
  justify-content: flex-start;
}
.table-body {
  overflow-y: hidden;
  height: 658px;
  box-shadow: 0 5px 20px rgba(61, 17, 18, 0.15);
  background-color: var(--color-white);
  overflow-x: auto !important;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 0 var(--padding-553xl);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
  margin-top: -1px;
  text-align: left;
  color: var(--color-brown-200);
  font-family: var(--font-raleway);
}
.table {
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.content,
.dashboard,
.table {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.dashboard {
  width: 1258px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.all-rights-reserved,
.made-by-students {
  margin: 0;
}
.all-rights-reserved-container {
  position: relative;
  font-weight: 300;
}
.footer-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.admin-loan-request,
.footer {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.footer {
  align-self: stretch;
  background: linear-gradient(
    174.57deg,
    #ed3d43,
    #a72025 23.51%,
    #86171b 49.05%,
    #3d1112
  );
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-73xl);
  text-align: left;
  font-size: var(--font-size-3xs);
  font-family: var(--font-inter);
}
.admin-loan-request {
  width: 100%;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-19xl-5);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-31xl);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 750px) {
  .bpi {
    font-size: var(--font-size-21xl);
    line-height: 43px;
  }
  .admin-dashboard {
    font-size: var(--font-size-13xl);
  }
  .table-body {
    padding-bottom: var(--padding-353xl);
    box-sizing: border-box;
  }
  .admin-loan-request {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 675px) {
  .footer {
    padding-left: var(--padding-27xl);
    padding-right: var(--padding-27xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .bpi {
    font-size: var(--font-size-11xl);
    line-height: 32px;
  }
  .housing-loan {
    font-size: var(--font-size-base);
  }
  .admin-dashboard {
    font-size: var(--font-size-5xl);
  }
  .footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
