.admin-deposit {
  width: 100%;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-19xl-5);
  line-height: normal;
  letter-spacing: normal;
}

.admin-deposit .div {
  background-color: #fafafa;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.admin-deposit .footer {
  position: absolute;
  width: 2640px;
  height: 85px;
  top: 939px;
  left: 0;
  background-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(237.1, 60.99, 66.91) 0%,
    rgb(166.7, 32.46, 36.98) 23.51%,
    rgb(133.5, 23.22, 26.92) 49.05%,
    rgb(61, 16.47, 17.96) 100%
  );
}

.admin-deposit .element-all-rights {
  position: absolute;
  width: 350px;
  top: 30px;
  left: 92px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.admin-deposit .overlap {
  position: absolute;
  width: 1440px;
  height: 92px;
  top: 0;
  left: 0;
}

.admin-deposit .header {
  position: absolute;
  width: 2640px;
  height: 92px;
  top: 0;
  left: 0;
  background-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(237.1, 60.99, 66.91) 0%,
    rgb(166.7, 32.46, 36.98) 23.51%,
    rgb(133.5, 23.22, 26.92) 54.18%,
    rgb(61, 16.47, 17.96) 100%
  );
}

.admin-deposit .logo {
  position: relative;
  width: 291px;
  height: 64px;
  top: 14px;
  left: 91px;
}

.admin-deposit .overlap-group {
  position: relative;
  width: 285px;
  height: 64px;
}

.admin-deposit .mask-group {
  position: absolute;
  width: 54px;
  height: 64px;
  top: 0;
  left: 0;
}

.admin-deposit .text-wrapper {
  position: absolute;
  width: 84px;
  top: 5px;
  left: 51px;
  font-family: "Roboto", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: -1px;
  line-height: normal;
  white-space: nowrap;
}

.admin-deposit .text-wrapper-2 {
  position: absolute;
  width: 120px;
  top: 14px;
  left: 135px;
  font-family: "Roboto", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: normal;
  white-space: nowrap;
}

.admin-deposit .application-form {
  position: absolute;
  width: 151px;
  top: 34px;
  left: 134px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: normal;
}

.admin-deposit .element-primary-button {
  display: flex;
  width: 254px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: absolute;
  top: 28px;
  left: 1095px;
  background-color: #d3b331;
  border-radius: 8px;
  cursor: pointer;
}

.admin-deposit .p {
  position: relative;
  width: fit-content;
  margin-left: -0.5px;
  margin-right: -0.5px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.admin-deposit .text-wrapper-3 {
  position: absolute;
  width: 523px;
  top: 136px;
  left: 92px;
  font-family: "Roboto", Helvetica;
  font-weight: 800;
  color: #3d1011;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.admin-deposit .overlap-2 {
  position: absolute;
  width: 1258px;
  height: 696px;
  top: 203px;
  left: 91px;
}

.admin-deposit .frame {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.admin-deposit .loan-request {
  position: relative;
  width: 185px;
  height: 39px;
  cursor: pointer;
}

.admin-deposit .div-wrapper {
  position: relative;
  width: 183px;
  height: 39px;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-deposit .text-wrapper-4 {
  position: absolute;
  width: 183px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-deposit .collateral {
  position: relative;
  width: 199px;
  height: 39px;
  cursor: pointer;
}

.admin-deposit .overlap-3 {
  position: relative;
  width: 197px;
  height: 39px;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-deposit .text-wrapper-5 {
  position: absolute;
  width: 197px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-deposit .borrower-information {
  position: relative;
  width: 234px;
  height: 39px;
  cursor: pointer;
}

.admin-deposit .overlap-4 {
  position: relative;
  width: 232px;
  height: 39px;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-deposit .text-wrapper-6 {
  position: absolute;
  width: 232px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-deposit .financial {
  position: relative;
  width: 229px;
  height: 39px;
  cursor: pointer;
}

.admin-deposit .overlap-5 {
  position: relative;
  width: 227px;
  height: 39px;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-deposit .text-wrapper-7 {
  position: absolute;
  width: 227px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-deposit .existing-loan {
  position: relative;
  width: 187px;
  height: 39px;
  cursor: pointer;
}

.admin-deposit .overlap-6 {
  position: relative;
  width: 185px;
  height: 39px;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-deposit .text-wrapper-8 {
  position: absolute;
  width: 185px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-deposit .deposit-accounts {
  position: relative;
  width: 224px;
  height: 39px;
  margin-right: -2px;
}

.admin-deposit .overlap-7 {
  position: relative;
  width: 222px;
  height: 39px;
  background-color: #d3b331;
  border-radius: 10px 10px 0px 0px;
}

.admin-deposit .text-wrapper-9 {
  position: absolute;
  width: 222px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-deposit .table-wrapper {
  position: absolute;
  width: 1258px;
  height: 658px;
  top: 38px;
  left: 0;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0px 5px 20px #3d101126;
}

.admin-deposit .table {
  display: flex;
  width: 1258px;
  align-items: center;
  padding: 10px;
  position: relative;
  left: -16px;
}

.admin-deposit .account-number {
  width: 247px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.admin-deposit .cell-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #a32c30;
}

.admin-deposit .cell {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.admin-deposit .frame-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.admin-deposit .cell-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #a62024;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.admin-deposit .borrower-ID {
  display: flex;
  flex-direction: column;
  width: 192px;
  align-items: flex-start;
  position: relative;
}

.admin-deposit .bank-and-branch {
  display: flex;
  flex-direction: column;
  width: 518px;
  align-items: flex-start;
  position: relative;
}

.admin-deposit .account-type {
  width: 166px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.admin-deposit .actions {
  display: flex;
  flex-direction: column;
  width: 137px;
  align-items: flex-start;
  position: relative;
  margin-right: -22px;
}

.admin-deposit .actions-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 38px;
}

.admin-deposit .edit {
  position: absolute;
  width: 63px;
  height: 38px;
  top: 0;
  left: 0;
}

.admin-deposit .img {
  position: absolute;
  width: 19px;
  height: 21px;
  top: 8px;
  left: 22px;
}

.admin-deposit .delete {
  position: absolute;
  width: 63px;
  height: 38px;
  top: 0;
  left: 74px;
}

.admin-deposit .delete-2 {
  position: absolute;
  width: 23px;
  height: 25px;
  top: 6px;
  left: 20px;
}

.admin-deposit .search {
  position: absolute;
  width: 366px;
  height: 55px;
  top: 129px;
  left: 984px;
}

.admin-deposit .overlap-8 {
  position: relative;
  width: 364px;
  height: 55px;
  background-color: #ece6f0;
  border-radius: 28px;
  box-shadow: 0px 2px 10px #3d101126;
}

.admin-deposit .label {
  position: absolute;
  width: 252px;
  top: 16px;
  left: 31px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #828282;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  background: transparent;
  border: none;
  padding: 0;
}

.admin-deposit .search-2 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 16px;
  left: 312px;
}

button {
  border: none; /* Removes the border */
  background: none; /* Removes any background color */
  padding: 0; /* Removes default padding */
  cursor: pointer;
}

button img {
  display: block; /* Ensures the image takes up the full button */
}
