.admin-financial-info {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.admin-financial-info .div {
  background-color: #fafafa;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.admin-financial-info .footer {
  position: absolute;
  width: 1440px;
  height: 85px;
  top: 939px;
  left: 0;
  background-color: transparent;
  background: linear-gradient(
    8.16deg,
    #ed3d43,
    #a72025 23.51%,
    #86171b 54.18%,
    #3d1112
  );
}

.admin-financial-info .element-all-rights {
  position: absolute;
  width: 350px;
  top: 30px;
  left: 92px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.admin-financial-info .overlap {
  position: absolute;
  width: 1440px;
  height: 92px;
  top: 0;
  left: 0;
}

.admin-financial-info .header {
  position: absolute;
  width: 1440px;
  height: 92px;
  top: 0;
  left: 0;
  background-color: transparent;
  background: linear-gradient(
    8.16deg,
    #ed3d43,
    #a72025 23.51%,
    #86171b 54.18%,
    #3d1112
  );
}

.admin-financial-info .logo {
  position: relative;
  width: 291px;
  height: 64px;
  top: 14px;
  left: 91px;
}

.admin-financial-info .overlap-group {
  position: relative;
  width: 285px;
  height: 64px;
}

.admin-financial-info .mask-group {
  position: absolute;
  width: 54px;
  height: 64px;
  top: 0;
  left: 0;
}

.admin-financial-info .text-wrapper {
  position: absolute;
  width: 84px;
  top: 5px;
  left: 51px;
  font-family: "Roboto", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: -1px;
  line-height: normal;
  white-space: nowrap;
}

.admin-financial-info .text-wrapper-2 {
  position: absolute;
  width: 120px;
  top: 14px;
  left: 135px;
  font-family: "Roboto", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: normal;
  white-space: nowrap;
}

.admin-financial-info .application-form {
  position: absolute;
  width: 151px;
  top: 34px;
  left: 134px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: normal;
}

.admin-financial-info .element-primary-button {
  display: flex;
  width: 254px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: absolute;
  top: 28px;
  left: 1095px;
  background-color: #d3b331;
  border-radius: 8px;
}

.admin-financial-info .p {
  position: relative;
  width: fit-content;
  margin-left: -0.5px;
  margin-right: -0.5px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.admin-financial-info .text-wrapper-3 {
  position: absolute;
  width: 523px;
  top: 136px;
  left: 92px;
  font-family: "Roboto", Helvetica;
  font-weight: 800;
  color: #3d1011;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.admin-financial-info .overlap-2 {
  position: absolute;
  width: 1258px;
  height: 696px;
  top: 203px;
  left: 91px;
}

.admin-financial-info .frame {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.admin-financial-info .loan-request {
  position: relative;
  width: 185px;
  height: 39px;
}

.admin-financial-info .div-wrapper {
  position: relative;
  width: 183px;
  height: 39px;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-financial-info .text-wrapper-4 {
  position: absolute;
  width: 183px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-financial-info .collateral {
  position: relative;
  width: 199px;
  height: 39px;
}

.admin-financial-info .overlap-3 {
  position: relative;
  width: 197px;
  height: 39px;
  border-radius: 10px 10px 0px 0px;
}

.admin-financial-info .rectangle {
  position: absolute;
  width: 197px;
  height: 39px;
  top: 0;
  left: 0;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-financial-info .text-wrapper-5 {
  position: absolute;
  width: 197px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-financial-info .borrower-information {
  position: relative;
  width: 234px;
  height: 39px;
}

.admin-financial-info .overlap-4 {
  position: relative;
  width: 232px;
  height: 39px;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-financial-info .text-wrapper-6 {
  position: absolute;
  width: 232px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-financial-info .financial {
  position: relative;
  width: 229px;
  height: 39px;
}

.admin-financial-info .overlap-5 {
  position: relative;
  width: 227px;
  height: 39px;
  background-color: #d3b331;
  border-radius: 10px 10px 0px 0px;
}

.admin-financial-info .text-wrapper-7 {
  position: absolute;
  width: 227px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-financial-info .existing-loan {
  position: relative;
  width: 187px;
  height: 39px;
}

.admin-financial-info .overlap-6 {
  position: relative;
  width: 185px;
  height: 39px;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-financial-info .text-wrapper-8 {
  position: absolute;
  width: 185px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-financial-info .deposit-accounts {
  position: relative;
  width: 224px;
  height: 39px;
  margin-right: -2px;
}

.admin-financial-info .overlap-7 {
  position: relative;
  width: 222px;
  height: 39px;
  background-color: #a5a5a5;
  border-radius: 10px 10px 0px 0px;
}

.admin-financial-info .text-wrapper-9 {
  position: absolute;
  width: 222px;
  height: 13px;
  top: 13px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  line-height: 22.5px;
  white-space: nowrap;
}

.admin-financial-info .table-wrapper {
  position: absolute;
  width: 1258px;
  height: 658px;
  top: 38px;
  left: 0;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0px 5px 20px #3d101126;
  overflow-x: scroll;
}

.admin-financial-info .table {
  display: flex;
  width: 3506px;
  align-items: center;
  padding: 10px;
  position: relative;
  left: -15px;
}

.admin-financial-info .financial-2 {
  display: flex;
  flex-direction: column;
  width: 223px;
  align-items: flex-start;
  position: relative;
}

.admin-financial-info .cell-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #a32c30;
}

.admin-financial-info .cell {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.admin-financial-info .frame-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.admin-financial-info .cell-2 {
  font-weight: 400;
  color: #a62024;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway", Helvetica;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.admin-financial-info .borrower-ID {
  display: flex;
  flex-direction: column;
  width: 126px;
  align-items: flex-start;
  position: relative;
}

.admin-financial-info .div-2 {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: flex-start;
  position: relative;
}

.admin-financial-info .emp-officeaddress {
  display: flex;
  flex-direction: column;
  width: 331px;
  align-items: flex-start;
  position: relative;
}

.admin-financial-info .cell-3 {
  margin-left: -4px;
  margin-right: -4px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway", Helvetica;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.admin-financial-info .emp-jobtitle {
  display: flex;
  flex-direction: column;
  width: 156px;
  align-items: flex-start;
  position: relative;
}

.admin-financial-info .cell-4 {
  margin-left: -3px;
  margin-right: -3px;
  font-weight: 400;
  color: #a62024;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway", Helvetica;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.admin-financial-info .div-3 {
  display: flex;
  flex-direction: column;
  width: 155px;
  align-items: flex-start;
  position: relative;
}

.admin-financial-info .cell-5 {
  margin-left: -9.5px;
  margin-right: -9.5px;
  font-weight: 400;
  color: #a62024;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway", Helvetica;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.admin-financial-info .emp-years {
  display: flex;
  flex-direction: column;
  width: 117px;
  align-items: flex-start;
  position: relative;
}

.admin-financial-info .emp {
  display: flex;
  flex-direction: column;
  width: 192px;
  align-items: flex-start;
  position: relative;
}

.admin-financial-info .cell-6 {
  margin-left: -2px;
  margin-right: -2px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Raleway", Helvetica;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.admin-financial-info .div-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.admin-financial-info .actions {
  display: flex;
  flex-direction: column;
  width: 137px;
  align-items: flex-start;
  position: relative;
}

.admin-financial-info .actions-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 38px;
}

.admin-financial-info .edit {
  position: absolute;
  width: 63px;
  height: 38px;
  top: 0;
  left: 0;
}

.admin-financial-info .img {
  position: absolute;
  width: 19px;
  height: 21px;
  top: 8px;
  left: 22px;
}

.admin-financial-info .delete {
  position: absolute;
  width: 63px;
  height: 38px;
  top: 0;
  left: 74px;
}

.admin-financial-info .delete-2 {
  position: absolute;
  width: 23px;
  height: 25px;
  top: 6px;
  left: 20px;
}

.admin-financial-info .search {
  position: absolute;
  width: 366px;
  height: 55px;
  top: 129px;
  left: 984px;
}

.admin-financial-info .overlap-8 {
  position: relative;
  width: 364px;
  height: 55px;
  background-color: #ece6f0;
  border-radius: 28px;
  box-shadow: 0px 2px 10px #3d101126;
}

.admin-financial-info .label {
  position: absolute;
  width: 252px;
  top: 16px;
  left: 31px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #828282;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  background: transparent;
  border: none;
  padding: 0;
}

.admin-financial-info .search-2 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 16px;
  left: 312px;
}
