.header-item,
.mask-group-icon3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.header-item {
  width: 100%;
  margin: 0 !important;
  right: 0;
}
.mask-group-icon3 {
  width: 18.95%;
  right: 81.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bpi3,
.housing-loan3 {
  text-decoration: none;
  letter-spacing: -0.02em;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
}
.bpi3 {
  position: absolute;
  height: calc(100% - 10px);
  width: 29.47%;
  top: 5px;
  left: 17.89%;
  line-height: 54px;
  min-width: 84px;
}
.housing-loan3 {
  position: relative;
  min-width: 120px;
  flex-shrink: 0;
}
.housing-loan-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.application-form3 {
  margin-top: -3px;
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.application-form-wrapper,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.application-form-wrapper {
  align-self: stretch;
  height: 20px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frame-parent {
  position: absolute;
  top: 14px;
  left: 134px;
  width: 151px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-xl);
}
.logo3 {
  height: 64px;
  width: 285px;
  position: relative;
  z-index: 1;
}
.about3,
.contact-agreement3,
.home3 {
  align-self: stretch;
  width: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.about3,
.contact-agreement3 {
  width: 46px;
}
.contact-agreement3 {
  width: 148px;
  white-space: nowrap;
}
.home-parent1 {
  height: 18px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
  font-size: var(--font-size-mini);
  color: var(--color-brown-100);
}
.get-started3 {
  width: 72px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: none;
}
.header3,
.primary-button6 {
  flex-direction: row;
  box-sizing: border-box;
}
.primary-button6 {
  height: 40px;
  width: 114px;
  border-radius: var(--br-5xs);
  background: linear-gradient(-88.81deg, #ec696d, #a32c30 33%, #3d1112);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-sm);
}
.header3 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    8.16deg,
    #ed3d43,
    #a72025 23.51%,
    #86171b 54.18%,
    #3d1112
  );
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-72xl);
  max-width: 100%;
  height: 100%;
}
.bpi-housing-loan3 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.primary-button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-mini);
  background-color: var(--color-goldenrod);
  position: absolute;
  top: 28px;
  left: 1095px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.primary-button7:hover {
  background-color: var(--color-darkgoldenrod);
}
.frame-header {
  align-self: stretch;
  height: 92px;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.admin-dashboard3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.admin-dashboard-wrapper {
  width: 523px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-div {
  height: 55px;
  width: 364px;
  position: relative;
  box-shadow: 0 2px 10px rgba(61, 17, 18, 0.15);
  border-radius: var(--br-9xl);
  background-color: var(--color-lavender);
  display: none;
  max-width: 100%;
}
.label3,
.search-icon3 {
  position: relative;
  z-index: 1;
}
.label3 {
  width: calc(100% - 83px);
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-roboto);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 23px;
  flex: 1;
  line-height: 150%;
  font-weight: 700;
  color: var(--color-gray-200);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 150px;
  padding: 0;
}
.search-icon3 {
  height: 25px;
  width: 25px;
  min-height: 25px;
}
.search3 {
  width: 364px;
  box-shadow: 0 2px 10px rgba(61, 17, 18, 0.15);
  border-radius: var(--br-9xl);
  background-color: var(--color-lavender);
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-8xl) var(--padding-sm)
    var(--padding-12xl);
  box-sizing: border-box;
  gap: var(--gap-10xl);
}
.frame-container,
.frame-wrapper,
.search3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.loan-request-child1 {
  height: 39px;
  width: 183px;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
  display: none;
}
.loan-request8 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.collateral-inner,
.loan-request7 {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
}
.loan-request7 {
  width: 183px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}
.collateral-inner {
  height: 39px;
  width: 197px;
  position: relative;
  display: none;
}
.collateral7 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.borrower-information-child1,
.collateral6 {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
}
.collateral6 {
  width: 197px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.borrower-information-child1 {
  height: 39px;
  width: 232px;
  position: relative;
  display: none;
}
.borrower-information7 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.borrower-information6,
.financial-information-child1 {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
}
.borrower-information6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  min-width: 151px;
  white-space: nowrap;
  cursor: pointer;
}
.financial-information-child1 {
  height: 39px;
  width: 227px;
  position: relative;
  display: none;
}
.financial-information7 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.financial-information6 {
  flex: 1;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  min-width: 148px;
  white-space: nowrap;
  cursor: pointer;
}
.existing-loan-child1 {
  height: 39px;
  width: 185px;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-goldenrod);
  display: none;
}
.existing-loans3 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.deposit-accounts-child1,
.existing-loan3 {
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
}
.existing-loan3 {
  width: 185px;
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  white-space: nowrap;
}
.deposit-accounts-child1 {
  height: 39px;
  width: 222px;
  position: relative;
  background-color: var(--color-darkgray);
  display: none;
}
.deposit-accounts7 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 13px;
  z-index: 1;
}
.deposit-accounts6,
.loan-request-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.deposit-accounts6 {
  flex: 1;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-darkgray);
  padding: var(--padding-smi) 0;
  box-sizing: border-box;
  min-width: 144px;
  white-space: nowrap;
  cursor: pointer;
}
.loan-request-parent {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-11xs);
  
}
.cell136 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 122px;
}
.cell-wrapper132 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-15xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper132:hover,
.cell-wrapper133:hover,
.cell-wrapper134:hover,
.cell-wrapper138:hover {
  background-color: var(--color-indianred);
}
.cell137 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 89px;
}
.cell-wrapper133 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell138 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
}
.cell-wrapper134,
.instance-parent26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper134 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-brown-100);
}
.instance-parent26 {
  row-gap: 20px;
}
.cell139 {
  position: relative;
  display: inline-block;
  min-width: 17px;
}
.cell-wrapper135 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  min-width: 17px;
}
.cell140 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper136 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.cell141 {
  position: relative;
  display: inline-block;
  min-width: 24px;
}
.cell-wrapper137 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-45xl);
}
.cell-wrapper137,
.frame-parent3,
.instance-parent27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-parent27 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.frame-parent3 {
  margin-left: -481px;
  width: 481px;
  flex-shrink: 0;
  flex-direction: column;
  max-width: 155%;
}
.cell142 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 100px;
}
.cell-wrapper138 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-34xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell143 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper139 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-34xl);
}
.cell144 {
  position: relative;
}
.cell-wrapper140 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell145 {
  position: relative;
}
.cell-wrapper141 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell146 {
  position: relative;
}
.cell-wrapper142 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell147 {
  position: relative;
}
.cell-wrapper143 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell148 {
  position: relative;
}
.cell-wrapper144 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.type-of-loan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.cell149 {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.cell-wrapper145 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lgi);
}
.cell150 {
  position: relative;
}
.cell-wrapper146 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell151 {
  position: relative;
}
.cell-wrapper147 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  z-index: 1;
}
.cell152 {
  flex: 1;
  position: relative;
}
.cell-wrapper148,
.instance-parent28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper148 {
  flex: 1;
  background-color: var(--color-brown-100);
  padding: var(--padding-3xs) var(--padding-10xl);
  box-sizing: border-box;
  min-width: 140px;
  z-index: 3;
}
.instance-parent28 {
  align-self: stretch;
  flex-wrap: wrap;
  row-gap: 20px;
}
.cell153 {
  position: relative;
  display: inline-block;
  min-width: 79px;
}
.cell-wrapper149 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.cell154 {
  position: relative;
  display: inline-block;
  min-width: 55px;
}
.cell-wrapper150 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-48xl);
}
.cell155 {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.cell-wrapper151 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-44xl);
  z-index: 2;
}
.cell156 {
  height: 18px;
  width: 36px;
  position: relative;
  display: inline-block;
}
.cell-wrapper152 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  min-width: 36px;
  z-index: 4;
}
.frame-parent4,
.instance-parent29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-parent29 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  color: var(--color-brown-200);
}
.frame-parent4 {
  width: 726px;
  flex-shrink: 0;
  flex-direction: column;
  max-width: 233%;
  color: var(--color-white);
}
.cell157 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.cell-wrapper153 {
  align-self: stretch;
  height: 38px;
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-22xl);
  box-sizing: border-box;
  z-index: 5;
}
.edit-child,
.edit-icon6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.edit-icon6 {
  height: 53.95%;
  width: 30.25%;
  top: 21.58%;
  right: 34.87%;
  bottom: 24.47%;
  left: 34.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.edit3 {
  height: 38px;
  flex: 1;
  position: relative;
}
.delete-child,
.delete-icon5,
.frame-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.delete-icon5 {
  height: 64.74%;
  width: 36.31%;
  top: 16.32%;
  right: 31.85%;
  bottom: 18.95%;
  left: 31.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.delete3 {
  height: 38px;
  flex: 1;
  position: relative;
}
.actions4 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs-4);
  z-index: 6;
}
.actions4,
.frame-parent2,
.instance-parent30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-parent30 {
  width: 137px;
  flex-shrink: 0;
  flex-direction: column;
  color: var(--color-white);
}
.frame-parent2 {
  width: 1258px;
  box-shadow: 0 5px 20px rgba(61, 17, 18, 0.15);
  background-color: var(--color-white);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-4xs-5) 473px 573.5px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
  margin-top: -1px;
  text-align: left;
  color: var(--color-brown-200);
  font-family: var(--font-raleway);
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  max-width: 100%; /* Adjust as needed */
  padding-right: 0; /* Remove any unnecessary padding */
  overflow-x: hidden;
}
.admin-existing-loan-inner,
.frame-group,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 1258px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
  overflow-x: hidden;
}
.admin-existing-loan-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.all-rights-reserved3,
.made-by-students3 {
  margin: 0;
}
.all-rights-reserved-container3 {
  position: relative;
  font-weight: 300;
}
.footer-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.admin-existing-loan,
.footer3 {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer3 {
  align-self: stretch;
  background: linear-gradient(
    174.57deg,
    #ed3d43,
    #a72025 23.51%,
    #86171b 49.05%,
    #3d1112
  );
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-73xl);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.admin-existing-loan {
  width: 100%;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-19xl-5);
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .frame-parent2 {
    padding-left: var(--padding-217xl);
    padding-right: var(--padding-217xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .admin-dashboard3 {
    font-size: var(--font-size-13xl);
  }
  .frame-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .header3 {
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
  .instance-parent26 {
    flex-wrap: wrap;
  }
  .frame-parent2 {
    padding-left: var(--padding-99xl);
    padding-right: var(--padding-99xl);
    padding-bottom: 373px;
    box-sizing: border-box;
  }
  .footer3 {
    padding-left: var(--padding-27xl);
    padding-right: var(--padding-27xl);
    box-sizing: border-box;
  }
  .admin-existing-loan {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .admin-dashboard3 {
    font-size: var(--font-size-5xl);
  }
  .footer3,
  .frame-parent2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
