.cell250 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 93px;
}
.cell-wrapper246 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-11xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper246:hover,
.cell-wrapper247:hover,
.cell-wrapper248:hover,
.cell-wrapper251:hover,
.cell-wrapper252:hover {
  background-color: var(--color-indianred);
}
.cell251 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 90px;
}
.cell-wrapper247 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-brown-100);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  min-width: 90px;
  max-width: 100%;
}
.cell252 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 103px;
}
.cell-wrapper248 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-19xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell253 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper249 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mid);
}
.cell254 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 101px;
}
.cell-wrapper250 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell255 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 128px;
}
.cell-wrapper251 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell256 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper252,
.content4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper252 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-22xl);
  background-color: var(--color-brown-100);
  z-index: 2;
}
.content4 {
  align-self: stretch;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 20px;
}
.cell257 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper253 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell258 {
  position: relative;
}
.cell-wrapper254 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-21xl);
  box-sizing: border-box;
  max-width: 100%;
}
.cell259 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.cell-wrapper255 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-18xl);
}
.cell260 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 110px;
}
.cell-wrapper256 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell261 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper257 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-smi);
}
.cell262 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 81px;
}
.cell-wrapper258 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-34xl);
  z-index: 1;
}
.edit13,
.shape1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.edit13 {
  margin: 0;
  height: 53.95%;
  width: 30.25%;
  top: 21.58%;
  right: 34.87%;
  bottom: 24.47%;
  left: 34.87%;
  overflow: hidden;
  z-index: 1;
}
.edit12 {
  height: 38px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.delete-icon13,
.shape-container,
.shape2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.delete-icon13 {
  height: 64.74%;
  width: 36.31%;
  top: 16.32%;
  right: 31.85%;
  bottom: 18.95%;
  left: 31.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.delete9 {
  height: 38px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.actions10 {
  width: 137px;
  flex-direction: row;
  gap: var(--gap-xs-4);
  z-index: 3;
}
.actions10,
.collateral12,
.content5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content5 {
  flex-direction: row;
  row-gap: 20px;
  max-width: 100%;
  color: var(--color-brown-200);
}
.collateral12 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs-5) 0 var(--padding-4xs-5) var(--padding-3xs);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1248px) {
  .content5 {
    flex-wrap: wrap;
  }
}
