.cell180 {
  position: relative;
}
.cell-wrapper176 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.cell181 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper177 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lg);
}
.cell182 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
}
.cell-wrapper178 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-3xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper178:hover,
.cell-wrapper180:hover,
.cell-wrapper181:hover,
.cell-wrapper183:hover,
.cell-wrapper185:hover,
.cell-wrapper193:hover,
.cell-wrapper195:hover {
  background-color: var(--color-indianred);
}
.cell183 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper179 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  white-space: nowrap;
}
.cell184 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
}
.cell-wrapper180 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-brown-100);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  min-width: 140px;
  max-width: 100%;
}
.cell185 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
}
.cell-wrapper181 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-2xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell186 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper182 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-7xs);
  z-index: 2;
}
.cell187 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 97px;
}
.cell-wrapper183 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 4;
}
.cell188 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 120px;
}
.cell-wrapper184 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mid);
  z-index: 6;
}
.cell189 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 102px;
}
.cell-wrapper185 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-7xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 8;
}
.cell190 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper186 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs);
  z-index: 10;
}
.cell191 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 79px;
}
.cell-wrapper187 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lgi);
  z-index: 12;
}
.cell192 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper188 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-5xs);
  z-index: 14;
}
.cell193 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 123px;
}
.cell-wrapper189 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  z-index: 16;
}
.cell194 {
  position: relative;
}
.cell-wrapper190 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  z-index: 18;
}
.cell195 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper191 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  z-index: 20;
}
.cell196 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper192 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  z-index: 22;
}
.cell197 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
}
.cell-wrapper193 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 24;
}
.cell198 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper194 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  z-index: 26;
}
.cell199 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper195,
.instance-parent33 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper195 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-22xl);
  background-color: var(--color-brown-100);
  z-index: 28;
}
.instance-parent33 {
  width: 3424px;
  flex-wrap: wrap;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
}
.cell200 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 34px;
}
.cell-wrapper196 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 78px;
}
.cell201 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 33px;
}
.cell-wrapper197 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-27xl);
}
.cell202 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 71px;
}
.cell-wrapper198 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-35xl);
}
.cell203 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 117px;
}
.cell-wrapper199 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.cell204 {
  position: relative;
}
.cell-wrapper200 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
}
.cell205 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 79px;
}
.cell-wrapper201 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-31xl);
  z-index: 1;
}
.cell206 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 101px;
}
.cell-wrapper202 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-20xl);
  z-index: 3;
}
.cell207 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cell-wrapper203 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-6xs);
  z-index: 5;
}
.cell208 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 77px;
}
.cell-wrapper204 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-20xl);
  z-index: 7;
}
.cell209 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 115px;
}
.cell-wrapper205 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  z-index: 9;
}
.cell210 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cell-wrapper206 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  z-index: 11;
}
.cell211 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 9px;
}
.cell-wrapper207 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-35xl);
  z-index: 13;
}
.cell212 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 55px;
}
.cell-wrapper208 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-49xl);
  z-index: 15;
}
.cell213 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 45px;
}
.cell-wrapper209 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-30xl);
  z-index: 17;
}
.cell214 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper210 {
  width: 184px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  z-index: 19;
}
.cell215 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper211 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-53xl);
  z-index: 21;
}
.cell216 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper212 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-60xl);
  z-index: 23;
}
.cell217 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 10px;
}
.cell-wrapper213 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-57xl);
  z-index: 25;
}
.cell218 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper214 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-32xl);
  z-index: 27;
}
.edit-icon9,
.edit-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.edit-icon9 {
  height: 53.95%;
  width: 30.25%;
  top: 21.58%;
  right: 34.87%;
  bottom: 24.47%;
  left: 34.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.edit8 {
  height: 38px;
  flex: 1;
  position: relative;
}
.delete-icon9,
.delete-inner1,
.frame-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.delete-icon9 {
  height: 64.74%;
  width: 36.31%;
  top: 16.32%;
  right: 31.85%;
  bottom: 18.95%;
  left: 31.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.delete6 {
  height: 38px;
  flex: 1;
  position: relative;
}
.actions7,
.financial-information12,
.instance-parent34 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions7 {
  width: 137px;
  flex-direction: row;
  gap: var(--gap-xs-4);
  z-index: 29;
}
.financial-information12,
.instance-parent34 {
  box-sizing: border-box;
}
.instance-parent34 {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  row-gap: 20px;
  max-width: 100%;
  color: var(--color-brown-200);
}
.financial-information12 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-3xs);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 3273px) {
  .instance-parent34 {
    flex-wrap: wrap;
  }
}
