.cell338 {
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  min-width: 118px;
}
.cell-wrapper334 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-8xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper334:hover,
.cell-wrapper336:hover,
.cell-wrapper338:hover,
.cell-wrapper345:hover,
.cell-wrapper347:hover,
.cell-wrapper353:hover,
.cell-wrapper355:hover {
  background-color: var(--color-indianred);
}
.cell339 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 32px;
}
.cell-wrapper335,
.loanrequest-id1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper335 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-51xl);
}
.loanrequest-id1 {
  flex-direction: column;
}
.cell340 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 89px;
}
.cell-wrapper336 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell341 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 33px;
}
.borrower-id1,
.cell-wrapper337 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper337 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-33xl);
}
.borrower-id1 {
  flex-direction: column;
}
.cell342 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 102px;
}
.cell-wrapper338 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-brown-100);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.cell343 {
  position: relative;
}
.cell-wrapper339 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lgi);
}
.cell344 {
  position: relative;
}
.cell-wrapper340 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell345 {
  position: relative;
}
.cell-wrapper341 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell346 {
  position: relative;
}
.cell-wrapper342 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell347 {
  position: relative;
}
.cell-wrapper343 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.cell348 {
  position: relative;
}
.cell-wrapper344 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.loan-purpose1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 199px;
}
.cell349 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
}
.cell-wrapper345 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell350 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.cell-wrapper346,
.loan-propertyuse1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper346 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.loan-propertyuse1 {
  flex-direction: column;
}
.cell351 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 100px;
}
.cell-wrapper347 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-21xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell352 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 69px;
}
.cell-wrapper348,
.loan-amount1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper348 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-36xl);
}
.loan-amount1 {
  flex-direction: column;
}
.cell353 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 82px;
}
.cell-wrapper349 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xl);
}
.cell354 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 16px;
}
.cell-wrapper350,
.loan-years1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper350 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-35xl);
  color: var(--color-brown-200);
}
.loan-years1 {
  flex-direction: column;
  color: var(--color-white);
}
.cell355 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 90px;
}
.cell-wrapper351 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
}
.cell356 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 41px;
}
.cell-wrapper352 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-25xl);
  color: var(--color-brown-200);
}
.cell357,
.loan-period1 {
  color: var(--color-white);
}
.loan-period1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell357 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  text-align: left;
  display: inline-block;
  min-width: 93px;
}
.cell-wrapper353 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-34xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell358 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper354,
.tct-cct-no1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell-wrapper354 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-39xl);
}
.tct-cct-no1 {
  flex-direction: column;
}
.cell359 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 54px;
}
.cell-wrapper355 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-22xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.edit-icon14,
.edit16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.edit16 {
  margin: 0;
  height: 53.95%;
  width: 30.25%;
  top: 21.58%;
  right: 34.87%;
  bottom: 24.47%;
  left: 34.87%;
  overflow: hidden;
  z-index: 1;
}
.edit15 {
  height: 38px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.delete-icon-wrapper1,
.delete-icon15,
.delete-icon16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.delete-icon16 {
  height: 64.74%;
  width: 36.31%;
  top: 16.32%;
  right: 31.85%;
  bottom: 18.95%;
  left: 31.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.delete11 {
  height: 38px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.actions12,
.actions13,
.loan-request13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions13 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs-4);
}
.actions12,
.loan-request13 {
  width: 137px;
  flex-direction: column;
}
.loan-request13 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-10xs-5) var(--padding-4xs) var(--padding-10xs-5)
    var(--padding-3xs);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-brown-200);
  font-family: var(--font-raleway);
}
