.cell258 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 93px;
}
.cell-wrapper255 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-11xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell-wrapper255:hover,
.cell-wrapper262:hover,
.cell-wrapper269:hover {
  background-color: var(--color-indianred-100);
}
.cell259 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper256 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell260 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper257 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell261 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper258 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell262 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper259 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell263 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper260 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell264 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper261 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.financial-informationid8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell265 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 90px;
}
.cell-wrapper262 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-brown-100);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell266 {
  position: relative;
}
.cell-wrapper263 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-21xl);
}
.cell267 {
  position: relative;
}
.cell-wrapper264 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-21xl);
}
.cell268 {
  position: relative;
}
.cell-wrapper265 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi);
}
.cell269 {
  position: relative;
}
.cell-wrapper266 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi);
}
.cell270 {
  position: relative;
}
.cell-wrapper267 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.cell271 {
  position: relative;
}
.cell-wrapper268 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-12xl);
}
.borrower-id6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 221px;
  max-width: 100%;
}
.cell272 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 103px;
}
.cell-wrapper269 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-19xl);
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cell273 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.cell-wrapper270 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
}
.cell274 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.cell-wrapper271 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-18xl);
}
.cell275 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 85px;
}
.cell-wrapper272 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-28xl);
}
.cell276 {
  position: relative;
  display: inline-block;
  min-width: 85px;
}
.cell-wrapper273 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-28xl);
}
.cell277 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper274 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-29xl);
}
.cell278 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper275 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-29xl);
}
.employment-type8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell279 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
}
.cell-wrapper276 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mid);
  color: var(--color-white);
}
.cell280 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 110px;
}
.cell-wrapper277 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell281 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 110px;
}
.cell-wrapper278 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-16xl);
}
.cell282 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 80px;
}
.cell-wrapper279 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
}
.cell283 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.cell-wrapper280 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-31xl);
}
.cell284 {
  position: relative;
  display: inline-block;
  min-width: 93px;
}
.cell-wrapper281 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-24xl);
}
.cell285 {
  position: relative;
  display: inline-block;
  min-width: 93px;
}
.cell-wrapper282 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-24xl);
}
.emp-business-name4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell286 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 101px;
}
.cell-wrapper283 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  color: var(--color-white);
}
.cell287 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper284 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
}
.cell288 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper285 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
}
.cell289 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 96px;
}
.cell-wrapper286 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-sm);
}
.cell290 {
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.cell-wrapper287 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-sm);
}
.cell291 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper288 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
}
.cell292 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.cell-wrapper289 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
}
.emp-officeaddress4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell293 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 128px;
}
.cell-wrapper290 {
  background-color: var(--color-brown-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--color-white);
}
.cell294 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 81px;
}
.cell-wrapper291 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-14xl);
}
.cell295 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 81px;
}
.cell-wrapper292 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-14xl);
}
.cell296 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 84px;
}
.cell-wrapper293 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.cell297 {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.cell-wrapper294 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.cell298 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper295 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.cell299 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.cell-wrapper296 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.emp-telephoneno4 {
  flex-direction: column;
  align-items: flex-start;
}
.collateral4,
.emp-telephoneno4,
.table3 {
  display: flex;
  justify-content: flex-start;
}
.table3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-brown-200);
  font-family: var(--font-raleway);
}
.collateral4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
